/**************
Standards
***************/
html
	{
	height:100%;
	min-height:100%;
	border-width:0px;
	}
body
	{
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	color:#444444;
	background-color:#313131;
	list-style-type:none;
	list-style-image:url(../images/bullet_dot_gray.gif);
	/*background-image: url(../images/bg_gradient1.gif);
	background-repeat: repeat-x; 
	scrollbar-arrow-color: #405D97;
	scrollbar-face-color: #C7DFFF;
	scrollbar-track-color: #405D97;
	*/
	}
a,a:link{
	color: #444444;
	text-decoration:none;
}
a:visited{
	color: #444444;
	text-decoration: none;
}
a:hover{
	color: green;
	text-decoration: none;
}
h1{
	color:#333333; 
	font: normal 22px Trebuchet MS, sans-serif;
	margin:0px;
}
h2{
	color:#444444;
	font: normal 19px Trebuchet MS, sans-serif;
	margin:0px;
}
h3{
	color:#444444;
	font: normal 17px Trebuchet MS, sans-serif;
	margin:0px;
}
h4{
	color:#444444;
	font: bold 14px Trebuchet MS, sans-serif;
	margin:0px;
}
h5{
	color:#444444;
	font: bold 12px Trebuchet MS, sans-serif;
	margin:0px;
}
/*****************************************
	TEXT CLASSES
*****************************************/
.header {
	width:100%;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #dfebef;
}
.menutext,.menutext a,.menutext a:link,.menutext a:visited {
  color: #ffffff;
  font: bold 14px Frutiger Linotype, Trebuchet MS, sans-serif;
  text-decoration:none;
}
.menutext a:hover{
  font: bold 14px Frutiger Linotype, Trebuchet MS, sans-serif;
  color:#FFFFCC;
  margin: 0px;
  text-decoration:none;
}
.smalltext,.smalltext a,.smalltext a:link,.smalltext a:visited {
  font: 11px sans-serif, Tahoma, Arial;
  color: #666;
  margin: 0px;
  text-decoration:none;
}
.smalltext a:hover{
  font: 11px sans-serif, Tahoma, Arial;
  color: #ff9900;
  margin: 0px;
  text-decoration:none;
}
.smalltextwhite,.smalltextwhite a,.smalltextwhite a:link,.smalltextwhite a:visited{
  font-family: sans-serif, Tahoma, Verdana;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration:none;
}
.smalltextwhite a:hover{
  font-size: 11px;
  color:#ff9900;
  text-decoration:none;
}
.dotline {
	color: #BDBCBC;
	border-bottom: 1px dotted #666666;
}
.dotlinewhite {
	color: #BDBCBC;
	border-bottom: 1px dotted #FFFFFF;
}
.errormsg
	{
	color:#FF6600;
	text-decoration: none;
	}
.goldmsg
	{
	color:#FF9900;
	/*color:#FEA839;*/
	text-decoration: none;
	}
.greenmsg
	{
	color:#009933;
	text-decoration: none;
	}
.tealtext
	{
	color:green;
	text-decoration: none;
	}
.textwhite
	{
	color:#FFFFFF;
	text-decoration: none;
	}
.listlink
	{
	color:#666666;
	text-decoration: none;
	font-family: sans-serif, Tahoma, Verdana;
	font-size:11px;
	font-weight: normal;
	border-bottom: 1px dotted #666666;
	}
.formitems
{
	border:1px inset #CCCCCC;
	background-color:#FFFFFF;
	height:15px;
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	color:#444444;
	padding-left:4px;
	vertical-align:middle;
	text-align:left;
	border: 1px solid #CCCCCC;
}
.formitemsdisabled
{
	border:1px inset #CCCCCC;
	background-color:#DDDDDD;
	height:15px;
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	color:#444444;
	padding-left:4px;
	vertical-align:middle;
	text-align:left;
}
.formlist
{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	color:#444444;
	height:15px;
	padding-left:4px;
	vertical-align:middle;
	text-align:left;
}
.formmultiline
{
	border: 1px soild #CCCCCC;
	background-color:#FFFFFF;
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	color:#444444;
	height:80px;
	padding-left:4px;
	vertical-align:middle;
	text-align:left;
	overflow:scroll;
}
.dateday
	{
	font-family: sans-serif, Tahoma, Verdana;
	font-size:24px;
	color:#9F9F9F;
	text-decoration: none;
	}
.datemonthyear
	{
	font-family: sans-serif, Tahoma, Verdana;
	font-size:11px;
	color:#9F9F9F;
	text-decoration: none;
	}	
.cornered, .gradient, .border, .dropshadow { width: 237px; background-color: #fff; margin: 0px auto; }
.xtra, .xtra2 { width: 100%; background-color: #fff; margin: 0px auto; }
.xtra3 { width: 100%; background-color: #fff; margin: 0px auto; }
.quick-alert {
   	width: 90%;
   	margin: 1em 0;
   	padding: .5em;
   	/*background: #ffa;*/
	background-color:#FFFFCC;
   	border: 1px solid #a00;
   	/*color: #a00;*/
	color:#FF0000;
   	font-weight: bold;
   	display: none;
	text-align:center;
} 
/*******************************
	DIV PROPERTIES
*******************************/
#breadcrumb
	{
  	font: 11px Frutiger Linotype, sans-serif, Tahoma, Verdana;
	width: 100%;
	border-top: solid #dfebef 1px;
	border-bottom: solid #dfebef 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
#breadcrumb a:link, breadcrumb a:visited
	{
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	}
#breadcrumb a:hover
	{
	color:green;
	text-decoration: none;
	}
#servicesLinks
{
	position: relative;
	margin: 0px;
	text-align: left;
	vertical-align:top;
	padding-left:0px;
	font-family: sans-serif, Tahoma, Verdana;
	font-size:11px;
	color:#333333;
}
#servicesLinks a {
	display: block;
	color:#333333;
	padding: 4px 0px 4px 13px;
}
#servicesLinks a:link, servicesLinks a:visited 
	{
	color:#333333;
	text-decoration: none;
	}
#servicesLinks a:hover{
	color: #333333;
	background-color:#dddddd;
}
#partnerLinks{
	position: relative;
	margin: 0px;
	text-align: left;
	vertical-align:top;
	padding-left:0px;	
	font-family: sans-serif, Tahoma, Verdana;
	font-size:11px;
	color:#333333;
}
#partnerLinks a {
	display: block;
	color:#333333;
	padding: 4px 0px 4px 13px;
}
#partnerLinks a:link, partnerLinks a:visited
	{
	color:#333333;
	text-decoration: none;
	}
#partnerLinks a:hover{
	color: #dddddd;
	background-color:#dddddd;
}
#imageList{
	position: relative;
	margin: 0px;
	padding-left:0px;
	text-align: left;
	vertical-align:top;	
	font-family: sans-serif, Tahoma, Verdana;
	font-size:11px;
	color:#BDBCBC;
	width: 248px;
	height:275px;
	overflow:auto;
}
#imageList a {
	display: block;
	border-bottom:1px solid #333333;
	color:#BDBCBC;
	padding: 10px 0px 10px 15px;
}
#imageList a:link
	{
	text-decoration: none;
	color:#BDBCBC;
	}
#imageList a:hover{
	background-color:#333333;
	color:#BDBCBC;
}
#imageList a:visited
	{
	color:#BDBCBC;
	text-decoration: none;
	}
#aboutlist {
	margin:0px 0px 0px 7px;
}	
#newslist {
	margin:0px 0px 0px 7px;
}	
/************************************************
jQuery lightBox plugin - Gallery style 
************************************************/
#gallery {
	background-color:#fff;
	padding: 10px;
	width: 520px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #ddd;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
/************************************************
ACCORDION
************************************************/
/*Main Container*/
.hrzContainer3 {
	width:100%;
}
.hrzContainer3 ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;	
}
.hrzContainer3 li{
	display: inline; 
	margin: 0px;
	padding:0px;
}
/*Handle*/
.handle3 {
	float: left;
	width: 50px;
	height: 191px;
	text-align:center;

	background: #666;
	/*border: 1px solid #cccccc;*/
}
.handle3 img{
	margin-top:0px;
	filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;
}
.handleOver3{
	
	background:#FF9900;
	/*border: 1px solid white;*/
}
.handleOver3 img{
	margin-top:0px;
	filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;
}
.handleSelected3{
	
	background: #000;
	/*border: 1px solid #CCCCCC;*/
}
/*Content Container*/
.contentWrapper3{
	/*text-align: justify;*/
}
.contentInnerWrapper3{
	/*padding: 10px;*/
}
.contentWrapper3 h3{
	/*border-bottom: 1px solid silver;
	color: #1E90FF;*/
}
/*Animation Start*/
.contentStart3 {
	padding-left: 0px;	
	float: left;
	width:0px;
	height: 191px;	
	overflow:hidden;
}
/*Animation End*/
.contentEnd3 {
	float: left;	
	height: 191px;
}
/************************************************
	FONTS
*************************************************/
@font-face {
    font-family: Frutiger Linotype;
    font-style:  normal;
    font-weight: normal;
    src: url(FRUTIGE0.eot);
}
@font-face {
    font-family: Trebuchet MS;
    font-style:  normal;
    font-weight: normal;
    src: url(TREBUCH0.eot);
}
/*******************************************
	VERTICAL ACCORDION
*******************************************/
/*
ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
li a {
	position: relative;
	display:block;
    text-decoration: none;
    color: #666;
	border-bottom:1px dotted #cccccc;
	padding: 0px 0px 4px 10px;
}
li a:link, li a:visited {
    text-decoration: none;
    color: #666;
}
li a:hover {
    text-decoration: none;
	background-color:#eeeeee;
    color: #666;
}
h5.drawer-handle {
	margin: 0;
	padding: 5px;
	background-color: #e5e5e5;
}
h5.drawer-handle.open {
	background-color: #4E64A5;
}
*/
label { 
	float: left; 
  	font: 11px Frutiger Linotype, Tahoma, sans-serif, ;
}
br { clear: both; }
/*input { border: 1px solid #666666; margin-bottom: .5em;  }*/
input.error { border: 1px solid red; }
label.error {
	background: url('../images/unchecked.gif') no-repeat;
	padding-left: 20px;
	margin-left: .3em;
}
/*
label.valid {
	background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}
*/
/*******************************************
	PROPERTY SLIDE
*******************************************/
.news_style{
display:none;
}
.news_show {
	background-color: transparent;
	color: #444444;
	width:319px;
	height:150px;
  	font: normal 100% Frutiger Linotype, sans-serif, Tahoma, Verdana;
	overflow: auto;	
}
.news_border {
	background-color: transparent;
	background-image:url(../images/bg_feature.gif);
	background-position:bottom left;
	background-repeat:no-repeat;
	width:319px;
	height:150px;
  	font: normal 100% Frutiger Linotype, sans-serif, Tahoma, Verdana;
	/*border: 1px solid #dfebef;*/
	border: 1px solid #dddddd;
	padding: 10px 5px 5px 5px;
	overflow: auto;	
}
.news_mark {
	background-color:white ;
  	font: normal 80% Frutiger Linotype, sans-serif, Tahoma, Verdana;
	width:319px;
	height:35px;
	color: #444444;
	text-align:right;
}
.news_title{
  	font: normal 120% Frutiger Linotype, sans-serif, Tahoma, Verdana;
	padding: 5px 0px 9px 5px;
	color: #444444;
}
.news_show img{
	margin-left: 5px;
	margin-right: 5px;
}
.buttondiv
{
	position: absolute;
	/*float: left;*/
	/*top: 169px;*/
	padding: 5px 5px 5px 5px;
	background-color:white ;
	border: 1px solid #dddddd;
	border-top-color: white;
	height:20px;
}

