/* input[type="text"].form-control, input[type="number"].form-control, input[type="date"].form-control, .select2-selection--single, span.select2-selection.select2-selection--multiple,input[type="password"], .input-c-icon-left {
    border-bottom: 1px solid #ddd !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

input[type="text"]:focus.form-control, input[type="date"]:focus.form-control:focus { 

    border-bottom: 1px solid rgb(3, 1, 1) !important;
} */

td#details-tbl-title {
    border-right: 1px solid #ddd;
    width: 30%;
}

div#jGrowl, .jGrowl-notification.alert.ui-state-highlight.ui-corner-all.bg-primary {
    display: none !important;
}


.treeDiv {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/* .tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
} */

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    /*padding: 20px 0px 0 0px;*/
    padding:  15px 0px 20px 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    width: 50%;

    background:transparent;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree > ul > li  {
    /*width: 100% !important;*/
    width: 98% !important;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
    any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
    right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    /* padding: 5px 10px; */
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/

/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

/*Thats all. I hope you enjoyed it.
    Thanks :)*/

a.user_details {
    width: 150px;
}

a.user_details .points {
    margin-top: 5px;
}

a.user_details .points span {
    background: #9ED98C;
    padding: 2px 5px;
    color: white;
}

a.user_details .points span::after {
    content: " PV";
}

a.user_details .name, a.user_details .name {
    font-weight: bold;
    color: #7D6666;
}

a.user_details .premium {
    color: white;
    background: #4CAF50;
    display: inline-block;
    padding: 2px 10px;
}

#user_details_template {
    display: none;
}

div.load_more {
    margin-top: 5px;
    font-size: 15px;
}

.tree_popover {
    list-style: none;
    padding: 0;
}

.tree_popover span.label {
    display: inline-block;
    position: relative;
    width: 90px;
    font-weight: bold;
    font-size: 12px;
}

.tree_popover span.label::after {
    content: ":";
    position: absolute;
    right: 0px;
    padding-right: 10px;
}

.tree_popover span.value {
    display: inline-block;
    min-width: 70px;
    font-size: 12px;
    text-align: right;
}

.tree_popover span.points::after {
    content: " PV";
}

.tree_popover li.head {
    text-align: center;
    margin-bottom: 10px;
}

.tree_popover li.head .name {
    font-weight: bold;
}

.tree_popover .premium {
    color: white;
    background: #4CAF50;
    display: inline-block;
    padding: 2px 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.tree .add_here p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.tree .add_here i.fas {
    font-size: 50px;
}

.tree_popover li.head {
    /*background: red !important;*/
    padding: 0 !important;
}


@media screen and (max-width: 800px) {
    a.user_details {
        /*width: 82px;*/
        width: 55px;
    }
    .tree li {
        background:  none;
    }
    .tree li a {
        font-size: 9px;
        margin-left: -45px;
        padding: 5px 0px;
    }
    .treeDiv {
        margin-left: -15px;
    }
    .tree li::before, .tree li::after {
        right: 62%;
    }
    .tree li::after {
        left: 39%;
    }


}