#navigation {
	border-bottom:1px solid #dfebef;
	margin:0px;
	padding:0px;
	text-indent:0px;
	background-color:transparent;
	/*width:155px;*/
	width:257px;
}
#navigation a.head {
	cursor:pointer;
	height:25px;
	border-top:1px solid #dfebef;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	/*color:#16447f;*/
	color: #333333;
	display:block;
	margin:0px;
	padding-top:5px;
	text-indent:0px;
	text-decoration: none;
}
#navigation a.head:hover {
	/*color:#51b0d7;*/
	color: #fdbd5b;
}
#navigation a.selected {
	/*color:#51b0d7;*/
	color: #fdbd5b;
}
#navigation a.current {
	/*background:url(../img/0043_bullet2.png) no-repeat right;*/
}
#navigation ul {
	border-width:0px;
	margin-left:10px;
	padding:0px;
	text-indent:0px;
}
#navigation li {
	list-style:none outside none; 
	display:inline;
}
#navigation li li a {
	color:#707070;
	display:block;
	text-indent:0px;
	text-decoration: none;
}
#navigation li li a:hover {
	color:#000000;
	text-decoration: none;
}