/*
Theme Name: WordPress Default
Theme URI: http://wordpress.org/
Description: The default WordPress theme based on the famous <a href="http://binarybonsai.com/kubrick/">Kubrick</a>.
Version: 1.6
Author: Michael Heilemann
Author URI: http://binarybonsai.com/
Tags: blue, custom header, fixed width, two columns, widgets

	Kubrick v1.5
	 http://binarybonsai.com/kubrick/

	This theme was designed and built by Michael Heilemann,
	whose blog you will find at http://binarybonsai.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/* Begin Typography & Colors */
body {
	/*
	font: 80.5% Verdana, Tahoma, Arial;
	*/	
	margin:0;
	padding:0;
  	font: 1.04em Arial, Verdana, Tahoma, sans-serif;
	color:#333;
	background:#C8D255  top left repeat-x;
	line-height:18px;
}
#page {
	text-align: left;
	margin-top:0;
	padding-top:0;
	background:url(../../../images/kubrickbgwide.png) top left repeat-y;
}

#header {
	/*background: #73a0c5 url('images/kubrickheader.jpg') no-repeat bottom center;*/
}

#headerimg 	{
	height: 150px;
	width: 959px;
	}

#content {
	/*font-size: 1.1em*/;
	font-size: 1em;
	}
#content a:link, #content a:visited {
	text-decoration:none;
	background:url(../../../images/dots_gray.gif) bottom left repeat-x;
}
#content a:hover {
	text-decoration:underline;
}
#content h2 a, #content h2 a:link, #content h2 a:visited {
	text-decoration:none;
	background:url(../../../images/dots_gray.gif) bottom left repeat-x;
}
#content h2 a:hover {
	color:#FF6600;
	text-decoration:none;
}
.widecolumn .entry p {
	font-size: 1.06em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.6em;
	}

.widecolumn {
	line-height: 1.6em;
	}

.narrowcolumn .postmetadata {
	text-align: left;
	}
.alt {	
	background-color:#F5F5F5;
	border:1px solid #DADADA;
}

#footer {
	background: #414141 url('images/kubrickfooter.jpg') no-repeat top;
	border: none;
	}

small {
  	font: 1.0em Tahoma, sans-serif;
	line-height: 1.5em;
	}
h1 {
	font: 13em Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#444444;
}
#headerimg .description {
	font-size: 1.2em;
	text-align: center;
	}

h2 {
	/*font: 2.1em Trebuchet MS, Arial, Helvetica, sans-serif;*/
	font: 24px Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#333;
	}

h2.pagetitle {
	color:#333
	}

#sidebar h2 {
	/*font: 1.4em Trebuchet MS, Arial, Helvetica, sans-serif;*/
	font: bold 15px Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#333;
	text-transform:uppercase;
	}

h3 {
	font: 1.6em Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#444444;
	}
h4 {
	margin:0;
	padding:0;
	font: 1.4em Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#333;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: white;
	}

h2, h2 a, h2 a:visited {
	color:#333;
	}
h3, h3 a, h3 a:visited {
	color:#333;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	}

.entry p a:visited {
	color:#333;
	}

.commentlist li, #commentform input, #commentform textarea {
  	/*font: 0.9em Verdana, Tahoma, sans-serif;*/
  	font: 1.0em Verdana, Tahoma, sans-serif;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
  	font-family: Verdana, Tahoma, sans-serif;
	}

.commentmetadata {
	font-weight: normal;
	}

#sidebar {
  	font: 1em Tahoma, sans-serif;
	}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color:#666;
	}
#sidebar a:link, #sidebar a:visited {
	color:#666;
	text-decoration:none;
}
#sidebar a:hover {
	color:#FF4E00;
	text-decoration:underline;
}
code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover {
	color:#333;
	text-decoration: underline;
	}

a:hover {
	color:#FF4E00;
	text-decoration:underline;
	}

#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
  	font: bold 1.3em Verdana, Tahoma, sans-serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */



/* Begin Structure */
body {
	margin: 0 0 20px 0;
	padding: 0;
	}

#page {
	margin: 0 auto;
	padding: 0;
	width: 963px;
	}

#header {
	margin: 0 0 0 1px;
	padding: 0;
	height: 150px;
	width: 959px;
	}

#headerimg {
	margin: 0;
	height: 150px;
	width: 100%;
	}

.narrowcolumn {
	float: left;
	padding: 0 20px 0 30px;
	margin: 0px 0 0;
	width:653px;
	}

.widecolumn {
	padding: 0 0 0 30px;
	margin: 0px 0 0;
	width:903px;
	}

.post {
	padding:0;
	margin: 0 0 40px;
	text-align: justify;
	}

.post hr {
	display: block;
	}

.widecolumn .post {
	margin: 0;
	}
.narrowcolumn .post {
	margin: 0;
	}
.narrowcolumn .postmetadata {
	padding: 12px 0 16px 20px;
	}

.widecolumn .postmetadata {
	margin:0;
	}

.widecolumn .smallattachment {
	text-align: center;
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}

.widecolumn .attachment {
	text-align: center;
	margin: 5px 0px;
}

.postmetadata {
	clear: both;
}

.clear {
	clear: both;
}

#footer {
	padding: 0;
	margin: 0 auto;
	width: 963px;
	clear: both;
	}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	}
/* End Structure */



/*	Begin Headers */
h1 {
	padding-top: 0px;
	margin: 0;
	}

h2 {
	margin: 0;
	padding-top: 7px;
	}

h2.pagetitle {
	margin-top: 0;
	text-align: left;
	padding-top: 7px;
}

#sidebar h2 {
	margin: 0;
	padding:0 4px 4px 0;
	}

h3 {
	padding: 0;
	margin: 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}
.entry ul li:before, #sidebar ul ul li:before {
	/*content: "\00BB \0020";*/
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}
#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	text-align: left;
	color:#666;
}
#searchform input {
	padding: 2px;
	margin: 5px 5px 1px 0;
	border:1px solid #DADADA;
	background:#F5F5F5;
	color:#666;
	font:11px Verdana, Tahoma, Arial;
}
#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
}
#sidebar #searchsubmit {
	padding: 2px 3px 2px 3px;
	background-color:#666;
	color:#FFFFFF;
}
.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}
/*
select {
	width: 130px;
	}
*/
#commentform input {
	width: 250px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	border:1px solid #DADADA;
	background:#F5F5F5;
	color:#666;
}

#commentform textarea {
	width: 95%;
	padding: 2px;
	/*border:1px solid #DDD;*/
	border:1px solid #DADADA;
	background:#F5F5F5;
	color:#666;
}

#commentform #submit {
	margin: 0;
	/*float: left;*/
	}
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */



/* Begin Sidebar */
#sidebar
{
	padding: 0 0 10px 0;
	margin-left: 733px;
	width: 200px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:5px 0 0 0;
	}
/* End Various Tags & Classes*/


/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
input.smallButton { 
	font-size: 10px;
	color: #15428B;
}
.myTags { 
	width: auto;	
	background-color:#F5F5F5;
	border:1px solid #DADADA;
	padding:5px 20px 5px 20px;
}
.myTags a:link, .myTags a:visited { 
	color:#444;
	text-decoration:none;
}
.myTags a:hover {
	color:#FF4E00;
	text-decoration:underline;
}
.textTitle {
	font: 1.5em Trebuchet MS, Arial, Helvetica, sans-serif;
	display:block;
	margin:0;
	background:url(../../../images/dots_gray.gif) bottom left repeat-x;
}
.textOrangeRed {
	color:#FF4E00;
	text-decoration:none;
}
.pageHeader {
	clear:both;
	font: 1.7em Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#333;
	padding:0px;
}
.bodyFrame2 {
	clear:both;
	margin-top:0;
	margin-left: auto;
	margin-right: auto;
	width:903px;
	padding:0 30px 5px 30px;
	background:url(../../../images/kubrickbgwide.png) top left repeat-y;
}
.bodyFrameFooter {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width:963px;
	height:50px;
	background:url(../../../images/back_bottom.png) top left no-repeat;
}
.contentpadding {
	clear:both;
	padding-top:10px;
}
html, body, #container { 
	height: 100%; 
}
body > #container { 
	height: auto;
	min-height: 100%;
}
#footersection {
 clear: both;
 position: relative;
 z-index: 10;
 height:139px;
 margin-top: -139px;
}
#contentmain { 
	padding-bottom: 139px;
	background:url(../../../images/gfx_accent.png) top right no-repeat;
}
.corneredBox { 
	width: 180px;
	background-color:#364E70;
	padding:10px 10px 10px 10px;
}
.mainContainer {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
.calnk a:hover {
	 background-position:0 0;
	 text-decoration:none;  
	 color:#000000;
	 border-bottom:1px dotted #000000;
	 }
.calnk a:visited {
	 text-decoration:none;
	 color:#000000;
	 border-bottom:1px dotted #000000;
	}
.calnk a {
	text-decoration:none; 
	color:#000000; 
	border-bottom:1px dotted #000000;
	}
.calnk a span { 
	display:none; 
	}
.calnk a:hover span {
	color:#333; 
	background:#FFFFE8; 
	display:block;
	position:absolute; 
	margin-top:1px; 
	padding:5px; 
	width:150px; 
	z-index:100;
	}
 .calendar-table {
	border:1px solid #55555;
	width:100%;
 }
 .calendar-heading {
	height:25px;
	text-align:center;
	border:1px solid #C2CEE1;
	background-color:#C2CEE1;
 }
 .calendar-next {
	width:25%;
	text-align:center;
 }
 .calendar-prev {
	width:25%;
	text-align:center;
 }
 .calendar-month {
	width:50%;
	text-align:center;
	font-weight:bold;
 }
 .normal-day-heading {
	text-align:center;
	width:25px;
	height:25px;
	font-size:0.8em;
	border:1px solid #C2CEE1;
	background-color:#C2CEE1;
 }
 .weekend-heading {
	text-align:center;
	width:25px;
	height:25px;
	font-size:0.8em;
	border:1px solid #C2CEE1;
	background-color:#C2CEE1;
	color:#FF0000;
 }
 .day-with-date {
	vertical-align:text-top;
	text-align:left;
	width:60px;
	height:60px;
	border:1px solid #C2CEE1;
 }
 .no-events {

 }
 .day-without-date {
	width:60px;
	height:60px;
	border:1px solid #C2CEE1;
 }
 span.weekend {
	color:#FF0000;
 }
 .current-day {
	vertical-align:text-top;
	text-align:left;
	width:60px;
	height:60px;
	border:1px solid #BFBFBF;
	background-color:#C2CEE1;
 }
 span.event {
	font-size:0.75em;
 }
 .kjo-link {
	font-size:0.75em;
	text-align:center;
 }
 .event-title {
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
 }
 .event-title-break {
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	height:1px;
	background-color:#000000;
 }
 .event-content-break {
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	height:1px;
	background-color:#000000;
 }
 .calendar-date-switcher {
	height:25px;
	text-align:center;
	border:1px solid #C2CEE1;
	background-color:#C2CEE1;
 }
 .calendar-date-switcher form {
	margin:0;
	padding:0;
 }
 .calendar-date-switcher input {
	border:1px #C2CEE1 solid;
 }
 .calendar-date-switcher select {
	border:1px #C2CEE1 solid;
 }
 .cat-key {
	width:100%;
	margin-top:10px;
	padding:5px;
	border:1px solid #C2CEE1;
 }
.date_top {
	display:block;
	font:18px Trebuchet MS, Arial;
	color:#FFFFFF;
	line-height:20px;
}
.date_bottom {
	display:block;
	color:#FFFFFF;
	font: 14px Trebuchet MS, Arial;
	line-height:15px;
}
.news_title a, .news_title a:link, .news_title a:visited {
	margin:0px;
	padding:0px;
	font:11px Arial;
	line-height:11px;
	color:#666;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../../../images/dots_gray.gif) bottom left repeat-x;
}
.news_title a:hover {
	color:#FF4E00;
	text-decoration:none;
}
.news_body a, .news_body a:link, .news_body a:visited {
	margin:0px;
	padding:0px;
	font:0.9em Arial;
	line-height:11px;
	color:#333;
	text-decoration:none;
}
.news_body a:hover {
	color:#FF4E00;
	text-decoration:none;
}
a, a:link, a:visited { 
	color: #333;
	text-decoration:none;
}
a:hover {
	color: #FF4E00;
	text-decoration:none;
}
.headerBannerPage {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width:963px;
	height:175px;
	text-align:top;
}
.textTitleWhite {
	font: 18px Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#D2D2D2;
}
.textTitleWhiteSub {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#D2D2D2;
}
.textTitleYellowSub {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#FFFFCC;
}
.textGrayDate{
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#A1A1A1;
}
.textLightGray, .textLightGray a:link, .textLightGray a:visited {
	color:#777;
  	font: 11px Tahoma, sans-serif;
	text-decoration:none;
	padding:0;
}
.textLightGray a:hover {
	color:#FF9900;
	text-decoration:none;
}
.popupmenu {
	filter: alpha(opacity=95);
	-moz-opacity: .90;
	opacity:.90;
	background:#222222;
	padding:12px 14px 12px 14px;
	position: absolute;
	z-index: 101;
	text-decoration:none;
}
.popupmenu a, .popupmenu a:link, .popupmenu a:visited  {
	color:#CCCCCC;
	text-decoration:none;
}
.popupmenu a:hover {
	color:#FF6600;
	text-decoration:none;
}
.popupmenu ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.popupmenu ul li {
	margin: 0;
	padding:0;
}
select {
	padding: 2px;
	margin: 5px 5px 1px 0;
	border:1px solid #DADADA;
	background:#F5F5F5;
	color:#666;
	font:11px Verdana, Tahoma, Arial;
}
.contentlist li {
	margin-left: 20px;
	padding-left: 10px;
	list-style-type:disc;
	list-style-position:inside;
	line-height:18px;
}
.contentlist li ul li{
	list-style-type:circle;
}
.textLink a, .textLink a:link, .textLink a:visited {
	font:.5em;
}

