body { background:url(../img/yamaha.jpg); 
    height:100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}
.style1 {font-family: Verdana, Arial, Helvetica; font-size: 17px; color: #FFFFFF; text-decoration:none; font-weight:bold;}
.style7 {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #5334bb;}
.style8 {font-family: Verdana, Arial, Helvetica, sans-serif, Sansation; font-size: 16px; color: #666666; text-decoration:none; font-weight:bold;}
.style9 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5334bb;}
.style10{font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration:none; }
-->


a.header_link:active,a.header_link:visited,a.header_link:link{
	color: #FFFFFF;
	text-decoration:none;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}
a.header_link:hover{
    color: #FFFFFF; 
    text-decoration: underline;
}	
	
a.button_link:active,a.button_link:visited,a.button_link:link{
	color: #333333;
	text-decoration:none;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	
		
}
a.button_link:hover{
    color: #D33905; 
 
 
    text-decoration: none;
}		
	

a.main_link:active,a.main_link:visited,a.main_link:link{
	color: #707070;
	text-decoration:none;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
		
}
a.main_link:hover{
    color: #FFFFFF; 
    text-decoration: none;
	


}
a.bottom_link:active,a.bottom_link:visited,a.bottom_link:link{
	color: #DDDDDD;
	text-decoration:none;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}
a.bottom_link:hover{
    color: #5b2401; 
    text-decoration: underline;
	font-weight:bold;
	
	
}
.header { 
    background:url(../images/header-bg.png);
	
}
.middle {background:url(../img/yamaha.jpg);	
     
}

.footer { 
    background:url( url(../images/bg-footer.png);
		
}



		
	
.formbutton
{
	border:0px solid #FAC800; background:url(../images/buttons.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:15px;
	vertical-align:middle;
	text-align: center;
}

.formitems
{
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	height:15px;
	width:200px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-left:4px;
	line-height:20px;
	vertical-align:middle;	
}

.formitems2
{
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	height:13px;
	width:150px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-left:4px;
	line-height:10px;
	vertical-align:middle;	
	
}

.formitems3
{
	
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	height:12px;
	width:120px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-left:4px;
	line-height:9px;
	vertical-align:middle;	
	
}	
		