/*GENERAL*/
*{margin:0;padding:0;}
a{outline:none;border:none;}
img{border:none;margin:0;}
input{margin:0;border:none;padding-left:5px;}
.clear {
	clear: both;
	}
.clearfix:after {content:"."; display:block; height:0;
                 clear:both; visibility:hidden; }
.clearfix       {display:inline-block;}
/* Hide from IE Mac */
.clearfix       {display:block;}
/* End hide from IE Mac */
* html .clearfix{ height:1px;}
.hidden
	{
	display:none;
	}
ul.back-topLink
	{
	text-indent:-9999px;
	height:0px;
	line-height:0px;
	font-size:0px;
	overflow:hidden;
	}

/*LAYOUT*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#container
	{
	width:960px;
	margin:0 auto;
	position:relative;
	font-size:1.3em;
	padding-bottom:5px;
	}
 
/*Header*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#header:after {content:"."; display:block; height:0;
                 clear:both; visibility:hidden; }
#header       {display:inline-block;}
/* Hide from IE Mac */
#header       {display:block;}
/* End hide from IE Mac */
* html #header{ height:1px;}
#header
	{
	background:url(../Images/bg-header.jpg) center bottom no-repeat;
	min-height:362px;
	padding-top:9px;
	margin-bottom:3px;
	position:relative;
	}
* html #header
	{
	height:362px;
	}
#header h1
	{
	float:left;
	text-indent:-9999px;
	background:url(../Images/logo.png) no-repeat;
	width:476px;
	height:165px;
	}
.top-extra-inf
	{
	position:absolute;
	line-height:2.2em;
	font-size:0.9em;
	right:150px;
	top:9px;
	}
.login-btn-holder
	{
	position:absolute;
	float:right;
	top:89px;
	right:17px;
	}
.login-btn-holder a
	{
	display:block;
	background:url(../Images/En/btn-login.gif) no-repeat;
	width:98px;
	text-indent:-9999px;
	height:22px;
	}
.login-btn-holder a:hover
	{
	background:url(../Images/En/btn-login.gif) left bottom no-repeat;
	}

.logout-btn-holder
	{
	position:absolute;
	float:right;
	top:89px;
	right:17px;
	}
.logout-btn-holder a
	{
	display:block;
	background:url(../Images/btn-logout.gif) no-repeat;
	width:98px;
	text-indent:-9999px;
	height:22px;
	}
.logout-btn-holder a:hover
	{
	background:url(../Images/btn-logout.gif) left bottom no-repeat;
	}
/*Navmenu*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div.menubar
	{
	background:url(../Images/bg-navmenu.gif) no-repeat #04253f;
	min-height:37px;
	}
* html div.menubar
	{
	height:37px;
	}
div.menubar ul li
	{
	list-style:none;
	float:left;
	}
div.menubar ul li a
	{
	display:block;
	background-image:url(../Images/En/menu.gif);
	float:left;
	height:37px;
	overflow:hidden;
	text-indent:-9999px;
	}

div.menubar ul li a.btn-home
	{
	background-position:0px 0px;
	width:94px;
	}
div.menubar ul li a.btn-home:hover
	{
	background-position:0px -37px;
	}

div.menubar ul li a.btn-products
	{
	background-position:-94px 0px;
	width:96px;
	}
div.menubar ul li a.btn-products:hover
	{
	background-position:-94px -37px;
	}

div.menubar ul li a.btn-compensation
	{
	background-position:-190px 0px;
	width:134px;
	}
div.menubar ul li a.btn-compensation:hover
	{
	background-position:-190px -37px;
	}

div.menubar ul li a.btn-testimonials
	{
	background-position:-324px 0px;
	width:121px;
	}
div.menubar ul li a.btn-testimonials:hover
	{
	background-position:-324px -37px;
	}

div.menubar ul li a.btn-call
	{
	background-position:-445px 0px;
	width:134px;
	}
div.menubar ul li a.btn-call:hover
	{
	background-position:-445px -37px;
	}

div.menubar ul li a.btn-meet
	{
	background-position:-579px 0px;
	width:135px;
	}
div.menubar ul li a.btn-meet:hover
	{
	background-position:-579px -37px;
	}

div.menubar ul li a.btn-faq
	{
	background-position:-714px 0px;
	width:73px;
	}
div.menubar ul li a.btn-faq:hover
	{
	background-position:-714px -37px;
	}
div.menubar ul li a.btn-store
	{
	background-position:-787px 0px;
	width:75px;
	}
div.menubar ul li a.btn-store:hover
	{
	background-position:-787px -37px;
	}
div.menubar ul li a.btn-contact
	{
	background-position:-862px 0px;
	width:98px;
	}
div.menubar ul li a.btn-contact:hover
	{
	background-position:-862px -37px;
	}

/*Content*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#content
	{
	border-bottom:1px solid #dbe0e3;
	}
.content-inside:after
	{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.content-inside, .content-wrapper
	{
	display:inline-block;
	}
.content-inside, .content-wrapper
	{
	display:block;	
	}
* html .content-inside, * html .content-wrapper
	{
	height:1px;
	}	
.two-columns .content-inside
	{
	background:url(../Images/bg-cornerBottom.gif) right bottom no-repeat;
	}
.two-columns .content-wrapper
	{
	background:url(../Images/bg-col1.gif) no-repeat;
	}

/*2 Columns*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.two-columns
	{
	background:url(../Images/bg-2columns.jpg);
	margin-bottom:3px;
	}
.col1
	{
	float:left;
	width:232px;
	padding:0px 10px 10px;
	}
* html .col1
	{
	height:530px;
	}
.col2
	{
	float:right;
	width:652px;
	padding:20px 28px 20px;
	}

/*1 Column*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.one-column 
	{
	background:#fff;
	margin-bottom:3px;
	}

/*H titles*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h2.txt-latestTest
	{
	text-indent:-9999px;
	background:url(../Images/En/txt-latestTest.gif) no-repeat;
	height:15px;
	margin-bottom:11px;	
	}
.h-wrapper h1
	{	
	text-indent:-9999px;
	padding-bottom:8px;
	}
h1.txt-welcome
	{
	background:url(../Images/En/txt-welcome.gif) top center no-repeat;
	}
h1.txt-compensation
	{
	background:url(../Images/En/txt-compensation.png) top center no-repeat;
	}
h1.txt-testimonials
	{
	background:url(../Images/En/txt-testimonials.png) top center no-repeat;
	}
h1.txt-schedulle
	{
	background:url(../Images/En/txt-schedulle.png) top center no-repeat;	
	}
h1.txt-meet-ceo
	{
	background:url(../Images/En/txt-meet-ceo.png) top center no-repeat;
	}
h1.txt-login
	{
	background:url(../Images/En/txt-login.png) top center no-repeat;
	}
h1.txt-faq
	{
	background:url(../Images/En/txt-faq.png) top center no-repeat;
	}
h1.txt-contact
	{
	background:url(../Images/En/txt-contact.png) top center no-repeat;
	}
h1.txt-registration
	{
	background:url(../Images/txt-registration.png) top center no-repeat;
	}
h1.txt-privacy
	{
	background:url(../Images/En/txt-privacy.gif) top center no-repeat;
	}
h1.txt-disclaimer
	{
	background:url(../Images/En/txt-disclaimer.png) top center no-repeat;
	}
h1.txt-step1
	{
	background:url(../Images/En/txt-step1.png) top center no-repeat;
	}
h1.txt-step1c
	{
	background:url(../Images/En/txt-step1c.gif) top center no-repeat;
	}
h1.txt-step2
	{
	background:url(../Images/En/txt-step2.png) top center no-repeat;
	}
h1.txt-step3
	{
	background:url(../Images/En/txt-step3.png) top center no-repeat;
	}
h1.txt-products
	{
	background:url(../Images/En/txt-products.png) top center no-repeat;
	}
h1.txt-congrats
	{
	background:url(../Images/En/txt-congrats.png) top center no-repeat;
	}
h1.h1-update
	{
	background:url(../Images/h1-update.gif) top center no-repeat;
	}
h1.h1-recognition
	{
	background:url(../Images/h1-recognition.gif) top center no-repeat;
	}
h1.h1-earnings-stat
	{
	background:url(../Images/h1-earnings-stat.gif) top center no-repeat;
	}
h1.h1-powerline
	{
	background:url(../Images/h1-powerline.gif) top center no-repeat;
	}
h1.h1-change-pass
	{
	background:url(../Images/h1-change-pass.gif) top center no-repeat;
	}
h1.h1-process-bulk
	{
	background:url(../Images/h1-process-bulk.gif) top center no-repeat;
	}
h1.h1-view-travel
	{
	background:url(../Images/h1-view-travel.gif) top center no-repeat;
	}
h1.h1-language
	{
	background:url(../Images/En/h1-language.gif) top center no-repeat;
	}
h1.h1-start
	{
	background:url(../Images/h1-start.gif) top center no-repeat;
	}
h1.h1-successpay
	{
	background:url(../Images/En/h1-successpay.gif) top center no-repeat;
	}
h1.h1-agreement
	{
	background:url(../Images/En/h1-agreement.gif) top center no-repeat;
	}
h1.h1-opportunity
	{
	background:url(../Images/En/h1-opportunity.gif) top center no-repeat;
	}
h1.h1-closed
	{
	background:url(../Images/En/h1-closed.gif) top center no-repeat;
	}
h1.h1-important
	{
	background:url(../Images/h1-important.gif) top center no-repeat;
	}
h1.txt-welcome-backoffice
	{
	background:url(../Images/txt-welcome-backoffice.png) top center no-repeat;
	}
h1.h1-getting
	{
	background:url(../Images/h1-getting.gif) top center no-repeat;
	}
h1.h1-fund-pending
	{
	background:url(../Images/h1-fund-pending.gif) top center no-repeat;
	}
h1.h1-create-account
	{
	background:url(../Images/h1-create-account.gif) top center no-repeat;
	}
h1.h1-gcc-fee
	{
	background:url(../Images/h1-gcc-fee.gif) top center no-repeat;
	}
h1.h1-account
	{
	background:url(../Images/h1-account.gif) top center no-repeat;
	}
h1.h1-fund-account
	{
	background:url(../Images/h1-fund-account.gif) top center no-repeat;
	}
h1.h1-profile
	{
	background:url(../Images/h1-profile.gif) top center no-repeat;
	}
h1.h1-products
	{
	background:url(../Images/h1-products.gif) top center no-repeat;
	}
h1.h1-payments
	{
	background:url(../Images/h1-payments.gif) top center no-repeat;
	}
h1.h1-matrix-payments
	{
	background:url(../Images/h1-matrix-payments.gif) top center no-repeat;
	}
h1.h1-store-merchant
	{
	background:url(../Images/h1-store-merchant.gif) top center no-repeat;
	}
h1.h1-payment-buttons
	{
	background:url(../Images/h1-payment-buttons.gif) top center no-repeat;
	}
h1.h1-view-sales
	{
	background:url(../Images/h1-view-sales.gif) top center no-repeat;
	}
h1.h1-view-store
	{
	background:url(../Images/h1-view-store.gif) top center no-repeat;
	}
h1.h1-training-resources
	{
	background:url(../Images/h1-training-resources.gif) top center no-repeat;
	}
h1.h1-training-schedule
	{
	background:url(../Images/h1-training-schedule.gif) top center no-repeat;
	}
h1.h1-training-archives
	{
	background:url(../Images/h1-training-archives.gif) top center no-repeat;
	}
h1.prosperity-ebooks
	{
	background:url(../Images/prosperity-ebooks.gif) top center no-repeat;
	}
h1.prosperity-cds
	{
	background:url(../Images/prosperity-cds.gif) top center no-repeat;
	}
h1.prosperity-software
	{
	background:url(../Images/prosperity-software.gif) top center no-repeat;
	}
h1.prosperity-videos
	{
	background:url(../Images/prosperity-videos.gif) top center no-repeat;
	}
h1.prosperity-travel
	{
	background:url(../Images/prosperity-travel.gif) top center no-repeat;
	}
h1.h1-support
	{
	background:url(../Images/h1-support.gif) top center no-repeat;
	}
h1.h1-adcopy
	{
	background:url(../Images/h1-adcopy.gif) top center no-repeat;
	}
h1.h1-banners
	{
	background:url(../Images/h1-banners.gif) top center no-repeat;
	}
h1.h1-capture
	{
	background:url(../Images/h1-capture.gif) top center no-repeat;
	}
h1.h1-sales
	{
	background:url(../Images/h1-sales.gif) top center no-repeat;
	}
h1.h1-cc-payment
	{
	background:url(../Images/h1-cc-payment.gif) top center no-repeat;
	}
h1.h1-sales-normal
	{
	background:url(../Images/h1-sales-normal.gif) top center no-repeat;
	}
h1.h1-join-sales
	{
	background:url(../Images/h1-join-sales.gif) top center no-repeat;
	height:19px;
	}
h1.h1-testlinkpoint
	{
	background:url(../Images/h1-testlinkpoint.gif) top center no-repeat;
	}
h1.h1-travel
	{
	background:url(../Images/h1-travel.gif) top center no-repeat;
	}
h1.h1-purchase
	{
	background:url(../Images/h1-purchase.gif) top center no-repeat;
	}
h1.h1-purchase-travel
	{
	background:url(../Images/h1-purchase-travel.gif) top center no-repeat;
	}
h1.h1-testauthorize
	{
	background:url(../Images/h1-testauthorize.gif) top center no-repeat;
	}
h1.h1-matrix
	{
	background:url(../Images/h1-matrix.gif) top center no-repeat;
	}
h1.h1-matrix-tier
	{
	background:url(../Images/h1-matrix-tier.gif) top center no-repeat;
	}
h1.h1-matrix-downline
	{
	background:url(../Images/h1-matrix-downline.gif) top center no-repeat;
	}
h1.h1-matrix-stats
	{
	background:url(../Images/h1-matrix-stats.gif) top center no-repeat;
	}
h1.h1-changeuser
	{
	background:url(../Images/En/h1-changeuser.gif) top center no-repeat;
	}
h1.h1-prosperity
	{
	background:url(../Images/h1-prosperity.gif) top center no-repeat;
	}
h1.h1-downline
	{
	background:url(../Images/h1-downline.gif) top center no-repeat;
	}
h1.h1-fetch
	{
	background:url(../Images/h1-fetch.gif) top center no-repeat;
	}
h1.h1-email-downline
	{
	background:url(../Images/h1-email-downline.gif) top center no-repeat;
	}
h1.h1-order
	{
	background:url(../Images/h1-order.gif) top center no-repeat;
	}
h1.h1-call-pending
	{
	background:url(../Images/En/h1-call-pending.gif) top center no-repeat;
	}
h1.h1-commission-information
	{
	background:url(../Images/h1-commission-information.gif) top center no-repeat;
	}
h1.h1-attention
	{
	background:url(../Images/h1-attention.gif) top center no-repeat;
	}
h1.h1-create-gcc
	{
	background:url(../Images/h1-create-gcc.gif) top center no-repeat;
	}
h1.h1-gcc-account
	{
	background:url(../Images/h1-gcc-account.gif) top center no-repeat;
	}
h1.h1-platinum
	{
	background:url(../Images/h1-platinum.gif) top center no-repeat;
	}
/*IE FIX FOR H titles*/
* html h1.txt-compensation
	{
	background:url(../Images/En/txt-compensation.gif) top center no-repeat;
	}
* html h1.txt-testimonials
	{
	background:url(../Images/En/txt-testimonials.gif) top center no-repeat;
	}
* html h1.txt-schedulle
	{
	background:url(../Images/En/txt-schedulle.gif) top center no-repeat;	
	}
* html h1.txt-meet-ceo
	{
	background:url(../Images/En/txt-meet-ceo.gif) top center no-repeat;
	}
* html h1.txt-login
	{
	background:url(../Images/En/txt-login.gif) top center no-repeat;
	}
* html h1.txt-faq
	{
	background:url(../Images/En/txt-faq.gif) top center no-repeat;
	}
* html h1.txt-contact
	{
	background:url(../Images/En/txt-contact.gif) top center no-repeat;
	}
* html h1.txt-registration
	{
	background:url(../Images/txt-registration.gif) top center no-repeat;
	}
* html h1.txt-privacy
	{
	background:url(../Images/En/txt-privacy.gif) top center no-repeat;
	}
* html h1.txt-disclaimer
	{
	background:url(../Images/En/txt-disclaimer.gif) top center no-repeat;
	}
* html h1.txt-step1
	{
	background:url(../Images/En/txt-step1.gif) top center no-repeat;
	}
* html h1.txt-step2
	{
	background:url(../Images/En/txt-step2.gif) top center no-repeat;
	}
* html h1.txt-step3
	{
	background:url(../Images/En/txt-step3.gif) top center no-repeat;
	}
* html h1.txt-products
	{
	background:url(../Images/En/txt-products.gif) top center no-repeat;
	}
* html h1.txt-congrats
	{
	background:url(../Images/En/txt-congrats.gif) top center no-repeat;
	}
* html h1.txt-welcome-backoffice
	{
	background:url(../Images/txt-welcome-backoffice.gif) top center no-repeat;
	}
/* End of IE FIX*/


h2.txt-yourdream
	{
	background:url(../Images/En/txt-yourdream.gif) left 12px no-repeat;
	width:243px;
	height:70px;
	text-indent:-9999px;
	margin:0px -17px 10px -24px;
	position:relative;
	}
h2.txt-joinNow
	{
	background:url(../Images/txt-joinNow.gif) left 12px no-repeat;
	width:243px;
	height:70px;
	text-indent:-9999px;
	margin:0px -17px 10px -24px;
	position:relative;
	}
h2.txt-prosperity-news
	{
	background:url(../Images/En/txt-prosperity-news.jpg) no-repeat;
	height:27px;
	text-indent:-9999px;
	padding-bottom:10px;
	}
h2.txt-distributor
	{
	height:19px;
	background:url(../Images/En/txt-distributor.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-contact-form
	{
	height:19px;
	background:url(../Images/En/txt-contact-form.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-account-info
	{
	height:19px;
	background:url(../Images/En/txt-account-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-address-info
	{
	height:23px;
	background:url(../Images/txt-address-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-billing-info
	{
	height:23px;
	background:url(../Images/En/txt-billing-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-gcc-info
	{
	height:23px;
	background:url(../Images/h2-gcc-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-shipping-info
	{
	height:23px;
	background:url(../Images/h2-shipping-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-solidtrustpay
	{
	height:23px;
	background:url(../Images/h2-solidtrustpay.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-my-earnings
	{
	height:23px;
	background:url(../Images/h2-my-earnings.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-my-payments
	{
	height:23px;
	background:url(../Images/h2-my-payments.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-total-bonus
	{
	height:23px;
	background:url(../Images/h2-total-bonus.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-alertpay
	{
	height:23px;
	background:url(../Images/h2-alertpay.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-alertpay-info
	{
	height:23px;
	background:url(../Images/h2-alertpay-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-paypal-info
	{
	height:23px;
	background:url(../Images/h2-paypal-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-new-announcements
	{
	height:24px;
	background:url(../Images/h2-new-announcements.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-prospect-signup
	{
	height:24px;
	background:url(../Images/h2-prospect-signup.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-security-update
	{
	height:24px;
	background:url(../Images/h2-security-update.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-stream-one
	{
	height:23px;
	background:url(../Images/En/h2-stream-one.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-stream-two
	{
	height:23px;
	background:url(../Images/En/h2-stream-two.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-stream-three
	{
	height:23px;
	background:url(../Images/En/h2-stream-three.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-check-info
	{
	height:23px;
	background:url(../Images/En/h2-check-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-payor-info
	{
	height:23px;
	background:url(../Images/En/h2-payor-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-referral
	{
	height:23px;
	background:url(../Images/En/h2-referral.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-new-security
	{
	height:23px;
	background:url(../Images/h2-new-security.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-new-funding
	{
	height:23px;
	background:url(../Images/h2-new-funding.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-cashier-check
	{
	height:23px;
	background:url(../Images/h2-cashier-check.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-fund-account
	{
	height:23px;
	background:url(../Images/h2-fund-account.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-direct-deposit
	{
	height:23px;
	background:url(../Images/h2-direct-deposit.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-bankwire
	{
	height:23px;
	background:url(../Images/h2-bankwire.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-pending-commission
	{
	height:23px;
	background:url(../Images/h2-pending-commission.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-gcc
	{
	height:23px;
	background:url(../Images/h2-gcc.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-sponsor-info
	{
	height:23px;
	background:url(../Images/h2-sponsor-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-member-info
	{
	height:23px;
	background:url(../Images/h2-member-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-payment-info
	{
	height:23px;
	background:url(../Images/h2-payment-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-terms
	{
	height:23px;
	background:url(../Images/En/txt-terms.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-welcome-payment
	{
	height:23px;
	background:url(../Images/En/txt-welcome-payment.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-membership-details
	{
	height:23px;
	background:url(../Images/h2-membership-details.gif) no-repeat;
	margin-bottom:15px;
	text-indent:-9999px;
	}
h2.h2-membership-instructions
	{
	height:23px;
	background:url(../Images/h2-membership-instructions.gif) no-repeat;
	margin-bottom:15px;
	text-indent:-9999px;
	}
h2.h2-getting
	{
	background-position:0px 0px;
	}
h2.h2-account
	{
	background-position:0px -57px;
	}
h2.h2-downline
	{
	background-position:0px -114px;
	}
h2.h2-training
	{
	background-position:0px -171px;
	}
h2.h2-software
	{
	background-position:0px -228px;
	}	
h2.h2-billing
	{
	background-position:0px -285px;
	}
h2.h2-marketing
	{
	background-position:0px -342px;
	}
h2.h2-step1
	{
	height:24px;
	background:url(../Images/h2-steps.gif) no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step2
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -24px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step3
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -48px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step4
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -72px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step5
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -96px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step6
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -120px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step7
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -144px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step8
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -168px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step9
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -192px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step10
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -216px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-step11
	{
	height:24px;
	background:url(../Images/h2-steps.gif) 0px -240px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-hereis
	{
	height:24px;
	background:url(../Images/h2-hereis.gif) 0px 0px no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.txt-personal-info
	{
	height:24px;
	background:url(../Images/txt-personal-info.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-account-security
	{
	height:24px;
	background:url(../Images/h2-account-security.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-about-me
	{
	height:24px;
	background:url(../Images/txt-about-me.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-email-settings
	{
	height:24px;
	background:url(../Images/txt-email-settings.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-firstdata
	{
	height:24px;
	background:url(../Images/txt-firstdata.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-authorize
	{
	height:24px;
	background:url(../Images/txt-authorize.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-safepay
	{
	height:24px;
	background:url(../Images/txt-safepay.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-alertpay
	{
	height:24px;
	background:url(../Images/txt-alertpay.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-paypal
	{
	height:24px;
	background:url(../Images/txt-paypal.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-google
	{
	height:24px;
	background:url(../Images/txt-google.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-acc-status
	{
	height:24px;
	background:url(../Images/h2-acc-status.gif) no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-sub-status
	{
	height:24px;
	background:url(../Images/h2-sub-status.gif) no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.txt-tax-id
	{
	height:24px;
	background:url(../Images/h2-tax-id.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-contact-information
	{
	height:24px;
	background:url(../Images/h2-contact-information.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-banking-information
	{
	height:24px;
	background:url(../Images/h2-banking-information.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-solid-trust
	{
	height:24px;
	background:url(../Images/h2-solid-trust.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-funds	
	{
	height:24px;
	background:url(../Images/h2-funds.gif) no-repeat;
	margin:10px 0px;
	text-indent:-9999px;
	}
h2.h2-funding-account	
	{
	height:24px;
	background:url(../Images/h2-funding-account.gif) no-repeat;
	margin:10px 0px;
	text-indent:-9999px;
	}
h2.h2-commission-funds	
	{
	height:24px;
	background:url(../Images/h2-commission-funds.gif) no-repeat;
	margin:10px 0px;
	text-indent:-9999px;
	}
h2.txt-sample
	{
	height:24px;
	background:url(../Images/txt-sample.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-ppc
	{
	height:24px;
	background:url(../Images/txt-ppc.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-articles
	{
	height:24px;
	background:url(../Images/txt-articles.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-ezine
	{
	height:24px;
	background:url(../Images/txt-ezine.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-free
	{
	height:24px;
	background:url(../Images/txt-free.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-news-papers
	{
	height:24px;
	background:url(../Images/txt-news-papers.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-magazines
	{
	height:24px;
	background:url(../Images/txt-magazines.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-banner-popup
	{
	height:24px;
	background:url(../Images/txt-banner-popup.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-post-cards
	{
	height:24px;
	background:url(../Images/txt-post-cards.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-viral
	{
	height:24px;
	background:url(../Images/txt-viral.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-video-marketing
	{
	height:24px;
	background:url(../Images/txt-video-marketing.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.txt-blogs
	{
	height:24px;
	background:url(../Images/txt-blogs.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}

h2.normal
	{
	font:1.5em 'Lucida Grande',arial,sans-serif;
	font-weight:bold;
	letter-spacing:-0.05em;
	margin-bottom:10px;
	}
h2.welcome-name
	{
	height:24px;
	background:url(../Images/welcome-name.gif) no-repeat;
	margin-bottom:15px;
	text-indent:106px;
	font:1.4em/1.2em arial,sans-serif;
	font-weight:bold;
	color:#08497D;
	}
h2.h2-prosperity-schedule
	{
	height:24px;
	background:url(../Images/En/h2-prosperity-schedule.gif) no-repeat;
	margin-bottom:10px;
	margin-top:20px;
	text-indent:-9999px;
	}
h2.h2-public-calls
	{
	height:24px;
	background:url(../Images/h2-public-calls.gif) no-repeat;
	margin-bottom:10px;
	margin-top:20px;
	text-indent:-9999px;
	}
h2.h2-member-calls
	{
	height:24px;
	background:url(../Images/h2-member-calls.gif) no-repeat;
	margin-bottom:10px;
	margin-top:20px;
	text-indent:-9999px;
	}
h2.h2-benefits
	{
	height:24px;
	background:url(../Images/h2-benefits.gif) no-repeat;
	margin-bottom:10px;
	margin-top:20px;
	text-indent:-9999px;
	}
h2.h2-webinars
	{
	height:24px;
	background:url(../Images/h2-webinars.gif) no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-calls
	{
	height:24px;
	background:url(../Images/h2-calls.gif) no-repeat;
	margin-bottom:10px;
	text-indent:-9999px;
	}
h2.h2-bankwire-information
	{
	height:24px;
	background:url(../Images/h2-bankwire-information.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.h2-account-direct-information
	{
	height:24px;
	background:url(../Images/h2-account-direct-information.gif) no-repeat;
	margin-bottom:20px;
	text-indent:-9999px;
	}
h2.normal-title
	{
	background:url(../Images/arrow-title.gif) 0px 3px no-repeat;
	color:#0d0d0d;
	font:1.5em Arial,Tahoma,Helvetica,sans-serif;
	font-weight:normal;
	margin-bottom:10px;
	margin-top:20px;
	padding-left:19px;
	}

h3
	{
	font-size:1.4em;
	margin-bottom:20px;
	}
h3.equal
	{
	margin:10px 0px;
	}
h3 strong
	{
	font-family:Arial,Helvetica,Verdana,sans-serif;
	}
/*All Other stuff*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.h-wrapper
	{
	background:url(../Images/bg-hWrapper.jpg) no-repeat bottom;
	text-align:center;
	padding:36px 2px 25px;
	margin:0px -10px 20px;
	}
* html .h-wrapper
	{
	height:35px;
	}
.h-wrapper span.extra-title
	{
	display:block;
	}
.h-wrapper span.upper-title
	{
	display:block;
	margin-top:-8px;
	margin-bottom:2px;
	font-family:'Lucida Grande';
	color:#555;
	}
div.icons
	{
	height:51px;
	line-height:51px;
	margin:-5px -8px -25px;
	position:relative;
	background:url(../Images/brown-line.gif) center;
	text-align:center;
	}
div.icons img
	{
	vertical-align:middle;
	}
.movie-wrapper
	{
	background:url(../Images/wrapper-grey-s.jpg) no-repeat left bottom;
	padding-bottom:20px;
	margin:0 auto;
	width:594px;
	}
.movie-wrapper div
	{
	background:url(../Images/wrapper-grey-s.jpg) no-repeat;
	padding-top:21px;
	text-align:center;
	}
.center
	{
	text-align:center;
	}
p
	{
	margin-bottom:20px;
	}
ul.news-listing
	{
	border-top:1px solid #304467;
	list-style:none;
	color:#c6ced9;
	padding-bottom:15px;
	}
ul.news-listing li
	{
	border-bottom:1px solid #304467;
	padding:12px 0px;
	}
ul.news-listing li a, ul.news-listing li a:visited
	{
	color:#e29e67;
	font-weight:bold;
	}
ul.news-listing li a:hover
	{
	color:#804217;
	}
ul.news-listing li p
	{
	margin-bottom:0px;
	padding-top:15px;
	}
.advertise-holder
	{
	margin:0px 0px 13px;
	}
.advertise-holder img
	{
	display:block;
	}
hr 
	{
	background:#D9D9D9 none repeat scroll 0 0;
	clear:both;
	color:#D9D9D9;
	height:1px;
	margin-bottom:20px;
	border:0px;
	}
hr.yellow 
	{
	background:#d49a63 none repeat scroll 0 0;
	clear:both;
	color:#D9D9D9;
	height:2px;
	margin-bottom:20px;
	border:0px;
	}	
ul.listing
	{
	list-style:none;
	padding-bottom:10px;
	}
ul.listing li
	{
	background:url(../Images/arrow-grey.gif) 0px 5px no-repeat;
	padding:0px 15px 15px 15px;
	}
ul.listing li strong
	{
	color:#08497d;
	}

ul.check-listing
	{
	list-style:none;
	padding:10px 20px;
	}
ul.check-listing li
	{
	background:url(../Images/checkmark.gif) 0px 3px no-repeat;
	padding:0px 0px 25px 35px;
	}

ul.numeric-listing
	{
	list-style:decimal;
	padding:10px 30px 10px 45px;
	}
ul.numeric-listing li
	{
	padding:0px 0px 25px 0px;
	}

.yellow-light ul.check-listing
	{
	padding-bottom:0px;
	}
.yellow-light ul.check-listing li
	{
	background:url(../Images/checkmark-yellow.gif) 0px 3px no-repeat;
	}

#page-faq ul.listing li
	{
	padding:0px 15px;
	}
#page-faq ul.listing li strong
	{
	color:#0D0D0D;
	}
.highlight
	{
	color:#bf5c16;
	color:#a13108;
	}
.red
	{
	color:#CC3300;
	}
strong
	{
	font:1em 'Lucida Grande',arial,sans-serif;
	font-weight:bold;	
	}
.floating-img
	{
	float:right;
	padding:20px 30px;
	}
.right-wrapper
	{
	float:right;
	padding:20px 0px 20px 30px;
	}
.floating-img img, .right-wrapper img
	{
	display:block;
	}
p.smallbottom
	{
	margin-bottom:0px;
	}
p.small
	{
	margin-bottom:5px;
	}
.nobottom
	{
	margin-bottom:0px !important;
	}
.msg-error
	{
	background:#ffeeed;
	border:1px solid #ff99a5;
	color:#d30808;
	text-align:center;
	margin-bottom:10px;
	padding:10px;
	}
.msg-error span
	{
	display:block;
	}
.msg-error ul li
	{
	list-style:none;
	text-align:left;
	background:url(../Images/red-bullet.gif) no-repeat 0px 8px;
	padding-left:15px;
	margin-left:10px
	}
.msg-success
	{
	background:#deffd1;
	border:1px solid #00bc00;
	color:#007400;
	text-align:center;
	margin-bottom:10px;
	padding:10px;
	}
p.payments
	{
	text-align:center;
	margin:0 auto;
	}
p.payments strong
	{
	padding-right:3px;
	}
#userinfo
	{
	padding:25px 35px 5px;
	}
strong.title
	{
	font:1.4em arial;
	display:block;
	padding-bottom:5px;
	}
strong.dif-font
	{
	font-family:arial;
	}
#userinfo ul:after {content:"."; display:block; height:0;
                 clear:both; visibility:hidden; }
#userinfo ul       {display:inline-block;}
/* Hide from IE Mac */
#userinfo ul      {display:block;}
/* End hide from IE Mac */
* html #userinfo ul{ height:1px;}
#userinfo ul
	{
	list-style:none;
	background:url(../Images/ico-user.gif) no-repeat right 10px;
	}
#userinfo ul li
	{
	background:transparent url(../Images/arrow2.gif) no-repeat scroll 0 8px;
	padding:3px 15px;
	font-size:0.9em;
	}
#userinfo ul li strong
	{
	padding-right:5px;
	}
.first-steps hr
	{
	margin-bottom:35px;
	}
.first-steps .grey-wrapper
	{
	margin-bottom:20px;
	}
.promote-links 
	{
	margin-top:-20px;
	}
.promote-links .yellow-lighter
	{
	margin-bottom:10px;
	}
.promote-links ul.listing2
	{
	list-style:none;
	background:url(../Images/ico-link.gif) no-repeat right 10px;
	}

/*Wrappers*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grey-wrapper
	{
	background:url(../Images/bg-greywrapper.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin-bottom:30px;
	}
.grey-wrapper .insider
	{
	background:url(../Images/bg-greywrapper.gif) no-repeat;
	padding:21px 20px 0px;
	}
.grey-wrapper2
	{
	background:url(../Images/wrapper-grey.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin-bottom:30px;
	}
.grey-wrapper2 .insider
	{
	background:url(../Images/wrapper-grey.gif) no-repeat;
	padding:20px 20px 0px;
	}
.grey-wrapper-s
	{
	background:url(../Images/bg-greywrapper-s.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin:0 auto 30px;
	width:622px;
	}
.grey-wrapper-s .insider
	{
	background:url(../Images/bg-greywrapper-s.gif) no-repeat;
	padding:21px 20px 0px;
	}
.yellow-wrapper
	{
	background:url(../Images/bg-yellowwrapper.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin-bottom:30px;
	}
.yellow-wrapper .insider
	{
	background:url(../Images/bg-yellowwrapper.gif) no-repeat;
	padding:21px 20px 0px;
	}
.note
	{
	background:url(../Images/bg-note.gif) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:30px;
	}
.note .insider
	{
	background:url(../Images/bg-note.gif) no-repeat;
	padding:10px 15px 0px;
	font-size:0.85em;
	text-align:center;
	}
.note-s
	{
	background:url(../Images/bg-note-s.gif) no-repeat left bottom;
	padding-bottom:10px;
	margin:0px auto 30px;
	width:594px;
	}
.note-s .insider
	{
	background:url(../Images/bg-note-s.gif) no-repeat;
	padding:10px 15px 0px;
	font-size:0.85em;
	text-align:center;
	}
.yellow-border
	{
	background:url(../Images/bg-yellowborder.gif) no-repeat left bottom;
	padding-bottom:30px;
	margin-bottom:30px;
	}
.yellow-border .insider
	{
	background:url(../Images/bg-yellowborder.gif) no-repeat;
	padding:30px 20px 0px;
	}
.yellow-light
	{
	background:url(../Images/bg-yellowlight.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin-bottom:30px;
	}
.yellow-light .insider
	{
	background:url(../Images/bg-yellowlight.gif) no-repeat;
	padding:20px 20px 0px;
	}
.yellow-lighter
	{
	background:url(../Images/bg-yellowlighter.gif) no-repeat left bottom;
	padding-bottom:15px;
	margin-bottom:30px;
	}
.yellow-lighter .insider
	{
	background:url(../Images/bg-yellowlighter.gif) no-repeat;
	padding:15px 20px 0px;
	}

.yellow-lighter-s
	{
	background:url(../Images/bg-yellowlighter-s.gif) no-repeat left bottom;
	padding-bottom:15px;
	margin:0 auto 30px;
	width:622px;
	}
.yellow-lighter-s .insider
	{
	background:url(../Images/bg-yellowlighter-s.gif) no-repeat;
	padding:15px 20px 0px;
	}

.yellow-wrapper-s
	{
	background:url(../Images/bg-note.gif) no-repeat left bottom;
	padding-bottom:20px;
	margin-bottom:30px;
	}
.yellow-wrapper-s .insider
	{
	background:url(../Images/bg-note.gif) no-repeat;
	padding:20px 20px 0px;
	}

div.grey-area
	{
	background:#f3f4f6;
	margin:0 -28px 20px;
	padding:20px 28px 0px;
	border-top:1px solid #e8e9eb;
	border-bottom:1px solid #e8e9eb;
	}

.insider:after 
	{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.insider
	{
	display:inline-block;
	}
.insider
	{
	display:block;
	}
* html .insider{ height:1px;}


/*Contact*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#distributor
	{
	padding-bottom:20px;
	}
#distributor .img-holder 
	{
	background:white none repeat scroll 0 0;
	float:left;
	margin-right:23px;
	min-height:100px;
	width:200px;
	padding:4px;
	}
.distributor-text 
	{
	float:left;
	width:380px;
	}
.distributor-text p
	{
	display:block;
	margin-bottom:5px;
	background:url(../Images/arrow-grey.gif) 0px 5px no-repeat;
	padding-left:15px;
	}
p.last
	{
	margin-bottom:0px;
	}
.distributor-text p strong
	{
	padding-right:4px;
	}

* html .form-contact
	{
	margin:0px -4px;
	}
.form-contact div.row
	{
	float:left;
	padding:4px 12px;
	width:302px;
	}
.form-contact div.row-span
	{
	clear:both;
	padding:4px 12px;
	width:628px;
	}

.form-contact label
	{
	display:block;
	font:1em/2em 'Lucida Grande',arial,sans-serif;
	font-weight:bold;
	}
.form-contact .input-text
	{
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:24px;
	padding-top:4px;
	width:298px;
	}
.form-contact .input-text:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.form-contact textarea
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:200px;
	padding-top:4px;
	width:623px;
	padding-left:5px;
	}
.form-contact textarea:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}

/*Buttons*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btn-submit
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) 0px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-submit:hover
	{
	background:url(../Images/En/btn-sprite.gif) left bottom no-repeat;
	color:#08162d;
	}

.btn-login
	{
	background:url(../Images/En/btn-sprite.gif) -98px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-login:hover
	{
	background:url(../Images/En/btn-sprite.gif) -98px bottom no-repeat;
	color:#08162d;
	}
.button-holder input
	{
	float:right;
	margin-top:10px;
	}
.btn-recover
	{
	background:url(../Images/En/btn-sprite.gif) -196px 0px no-repeat;
	width:235px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-recover:hover
	{
	background:url(../Images/En/btn-sprite.gif) -196px bottom no-repeat;
	color:#08162d;
	}
.btn-proceed
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) -431px 0px no-repeat;
	width:235px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-proceed:hover
	{
	background:url(../Images/En/btn-sprite.gif) -431px bottom no-repeat;
	color:#08162d;
	}
.btn-proceed-validation
	{
	display:block;
	background:url(../Images/btn-proceed-validation.gif) no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-proceed-validation:hover
	{
	background:url(../Images/btn-proceed-validation.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-agree
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) -667px 0px no-repeat;
	width:97px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-agree:hover
	{
	background:url(../Images/En/btn-sprite.gif) -667px bottom no-repeat;
	color:#08162d;
	}

.btn-update-account
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) -764px 0px no-repeat;
	width:262px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-update-account:hover
	{
	background:url(../Images/En/btn-sprite.gif) -764px bottom no-repeat;
	color:#08162d;
	}
.btn-create-account
	{
	display:block;
	background:url(../Images/En/btn-create-account.gif) 0px 0px no-repeat;
	width:126px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-create-account:hover
	{
	background:url(../Images/En/btn-create-account.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-create-account
	{
	margin:0px auto;
	}
.btn-cancel
	{
	display:block;
	background:url(../Images/btn-cancel.gif) 0px 0px no-repeat;
	width:79px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-cancel:hover
	{
	background:url(../Images/btn-cancel.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-continue
	{
	display:block;
	background:url(../Images/btn-continue.gif) 0px 0px no-repeat;
	width:223px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-continue:hover
	{
	background:url(../Images/btn-continue.gif) 0px bottom no-repeat;
	color:#08162d;
	}

.btn-process-member
	{
	display:block;
	background:url(../Images/btn-process-member.gif) 0px 0px no-repeat;
	width:129px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-process-member:hover
	{
	background:url(../Images/btn-process-member.gif) 0px bottom no-repeat;
	color:#08162d;
	}

.btn-fund-account
	{
	display:block;
	background:url(../Images/btn-fund-account.gif) 0px 0px no-repeat;
	width:131px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-fund-account:hover
	{
	background:url(../Images/btn-fund-account.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-fund-account
	{
	margin:0px auto;
	}
.btn-edit
	{
	display:block;
	background:url(../Images/btn-edit.gif) 0px 0px no-repeat;
	width:65px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-create-one
	{
	display:block;
	background:url(../Images/En/btn-create-one.gif) 0px 0px no-repeat;
	width:147px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-create-one:hover
	{
	background:url(../Images/En/btn-create-one.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-buy-giftcard
	{
	display:block;
	background:url(../Images/En/btn-buy-giftcard.gif) 0px 0px no-repeat;
	width:119px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-buy-giftcard:hover
	{
	background:url(../Images/En/btn-buy-giftcard.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-have-giftcard
	{
	display:block;
	background:url(../Images/En/btn-have-giftcard.gif) 0px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-have-giftcard:hover
	{
	background:url(../Images/En/btn-have-giftcard.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-edit:hover
	{
	background:url(../Images/btn-edit.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-setup-account
	{
	display:block;
	background:url(../Images/btn-setup.gif) 0px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-setup-account:hover
	{
	background:url(../Images/btn-setup.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-setup-account
	{
	margin:0px auto;
	}
.btn-cardholder-fee
	{
	display:block;
	background:url(../Images/btn-cardholder-fee.gif) 0px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-cardholder-fee:hover
	{
	background:url(../Images/btn-cardholder-fee.gif) 0px bottom no-repeat;
	color:#08162d;
	}

.btn-video
	{
	display:block;
	background:url(../Images/btn-play-video.gif) 0px 0px no-repeat;
	width:220px;
	height:36px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-video:hover
	{
	background:url(../Images/btn-play-video.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-video
	{
	margin:0px auto;
	}

.btn-joinow
	{
	display:block;
	background:url(../Images/En/btn-joinow.gif) 0px 0px no-repeat;
	width:150px;
	height:36px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-joinow:hover
	{
	background:url(../Images/En/btn-joinow.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-add2cart
	{
	display:block;
	background:url(../Images/En/btn-add2cart.jpg) 0px 0px no-repeat;
	width:150px;
	height:36px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-add2cart:hover
	{
	background:url(../Images/En/btn-add2cart.jpg) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-purchase-now
	{
	display:block;
	background:url(../Images/btn-purchase-now.jpg) 0px 0px no-repeat;
	width:150px;
	height:36px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	float:right;
	}
.btn-purchase-now:hover
	{
	background:url(../Images/btn-purchase-now.jpg) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-purchase-now
	{
	float:none;
	}
.btn-continue2pay
	{
	display:block;
	background:url(../Images/btn-continue2pay.gif) 0px 0px no-repeat;
	width:235px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-continue2pay:hover
	{
	background:url(../Images/btn-continue2pay.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-continue2pay
	{
	margin:0px auto;
	}
.btn-continue2members
	{
	display:block;
	background:url(../Images/btn-continue2members.gif) 0px 0px no-repeat;
	width:214px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-continue2members:hover
	{
	background:url(../Images/btn-continue2members.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.center .btn-continue2members
	{
	margin:0px auto;
	}
.btn-update
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) -1026px 0px no-repeat;
	width:112px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-update:hover
	{
	background:url(../Images/En/btn-sprite.gif) -1026px bottom no-repeat;
	color:#08162d;
	}
.btn-supdate
	{
	display:block;
	background:url(../Images/En/btn-update.gif) 0px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-supdate:hover
	{
	background:url(../Images/En/btn-update.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-confirm
	{
	display:block;
	background:url(../Images/En/btn-confirm.gif) 0px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-confirm:hover
	{
	background:url(../Images/En/btn-confirm.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-confirm-sponsor
	{
	display:block;
	background:url(../Images/En/btn-confirm-sponsor.gif) 0px 0px no-repeat;
	width:217px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-confirm-sponsor:hover
	{
	background:url(../Images/En/btn-confirm-sponsor.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-view
	{
	display:block;
	background:url(../Images/En/btn-sprite.gif) -1138px 0px no-repeat;
	width:112px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-view:hover
	{
	background:url(../Images/En/btn-sprite.gif) -1138px bottom no-repeat;
	color:#08162d;
	}
.btn-show
	{
	display:block;
	background:url(../Images/btn-show.gif) 0px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-show:hover
	{
	background:url(../Images/btn-show.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-changeuser
	{
	display:block;
	background:url(../Images/btn-change.gif) 0px 0px no-repeat;
	width:146px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	}
.btn-changeuser:hover
	{
	background:url(../Images/btn-change.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-purchase
	{
	display:block;
	background:url(../Images/btn-purchase.gif) 0px 0px no-repeat;
	width:235px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-purchase:hover
	{
	background:url(../Images/btn-purchase.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-send
	{
	display:block;
	background:url(../Images/btn-send.gif) 0px 0px no-repeat;
	width:98px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-send:hover
	{
	background:url(../Images/btn-send.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-platinum
	{
	display:block;
	background:url(../Images/btn-platinum.gif) 0px 0px no-repeat;
	width:171px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-platinum:hover
	{
	background:url(../Images/btn-platinum.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.radio-buttons
	{
	padding:0px 0px 20px 12px;
	}

/*Steps form*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.no-top-spacing
	{
	padding-top:0px !important;
	}
.form
	{
	padding:25px 18px;
	}
.form .row:after 
	{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.form .row       
	{
	display:inline-block;
	}
.form .row
	{
	display:block;
	padding:4px 0px;
	}
* html .form .row
	{
	height:1px;
	}
.form label
	{
	display:block;
	float:left;
	width:160px;
	line-height:20px;
	text-align:right;
	padding-right:10px;
	}
.form label.normal-label
	{
	display:inline;
	width:310px;
	text-align:left;
	padding-left:5px;
	line-height:14px;
	float:right;
	padding-right:118px;
	}
.checked
	{
	float:right;
	padding:0px !important;
	}
.checkboxes-holder .checked
	{
	float:none;
	}
.form .input-text
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:20px;
	padding-top:4px;
	width:310px;
	}
.form .input-text:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.form .input-text-s
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:20px;
	padding-top:4px;
	width:240px;
	}
.form .input-text-s:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.form .input-text-xs
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:20px;
	padding-top:4px;
	width:40px;
	}
.form .input-text-xs:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.form select
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:25px;
	width:317px;
	line-height:25px;
	}
.form textarea
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:140px;
	padding-top:4px;
	width:310px;
	padding-left:5px;
	}
.form textarea:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.form .input-file
	{
	float:right;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:24px;
	padding-top:4px;
	width:315px;
	margin-right:131px;
	}

.form select.small
	{
	width:80px;
	}
.form select.smallest
	{
	width:50px;
	margin-right:5px;
	}
.form .right-align
	{
	display:block;
	clear:both;
	padding-left:170px;
	width:315px;
	font-size:0.85em;
	margin:0px;
	padding-top:5px;
	color:#08497D;
	}
.form .check-holder
	{
	float:left;
	background:#f8f8f8;
	border:1px solid #dfdfe0;
	width:295px;
	padding:5px 10px;
	vertical-align:middle;
	}
.form .avatar
	{
	float:left;
	border:1px solid #ccc;
	display:block;
	}
.btn-holder
	{
	margin-bottom:30px;
	}
.btn-holder input
	{
	margin:0 auto;
	display:block;
	}
.two-btn-holder:after 
	{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.two-btn-holder       
	{
	display:inline-block;
	display:block;
	margin-bottom:30px;
	text-align:center;
	padding:0px 200px;
	}
* html .two-btn-holder{ height:1px;}
.two-btn-holder input
	{
	margin:0 10px;
	float:left;
	}
* html .two-btn-holder input 
	{
	margin:0 5px;
	}
.span-cell
	{
	font-size:0.85em;
	text-align:center;
	}
.checkboxes-holder
	{
	padding-left:230px;
	}

/*Login*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.form-login
	{
	margin:40px 75px;
	background:url(../Images/keys.jpg) right 10px no-repeat;
	min-height:100px;
	}
.form-login .row:after 
	{
	content:".";
	display:block;
	height:0;
    clear:both;
	visibility:hidden;
	}
.form-login .row
	{
	display:inline-block;
	}
.form-login .row
	{
	display:block;
	padding:4px 0px;
	}
* html .form-login .row{ height:1px;}

.form-login label
	{
	display:block;
	font:0.9em/2em 'Lucida Grande',arial,sans-serif;
	font-weight:bold;
	float:left;
	width:100px;
	}
.form-login .input-text
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:22px;
	padding-top:4px;
	width:250px;
	}
.form-login .input-text:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.right-cell
	{
	padding-left:100px;
	width:255px;
	text-align:right;
	}
.right-cell input
	{
	float:right;
	}
#paygreen-login .form-login
	{
	margin:0px;
	background:none;
	margin-top:40px;
	}
#paygreen-login .form-login .row
	{
	display:block;
	padding:6px 0px;
	}
#paygreen-login .form-login .input-text
	{
	width:230px;
	}
#paygreen-login .right-cell
	{
	padding-left:81px;
	padding-top:30px;
	}
#paygreen-login .form-login label
	{
	display:block;
	font:0.9em/2em 'Lucida Grande',arial,sans-serif;
	font-weight:normal;
	float:left;
	width:100px;
	}
#paygreen-login .form-login .input-text
	{
	background:url(../Images/bg-input-light.gif) no-repeat;
	}
/*Links*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a.btn-click
	{
	background:url(../Images/btn-click.gif) no-repeat;
	display:block;
	text-indent:-9999px;
	width:102px;
	height:32px;
	}
a.btn-click:hover
	{
	background:url(../Images/btn-click.gif) left bottom no-repeat;
	}
a.btn-joinNow
	{
	background:url(../Images/btn-joinNow.gif) no-repeat;
	display:block;
	text-indent:-9999px;
	width:102px;
	height:32px;
	}
a.btn-joinNow:hover
	{
	background:url(../Images/btn-joinNow.gif) left bottom no-repeat;
	}
a.btn-purchaseNow
	{
	background:url(../Images/En/btn-purchaseNow.gif) no-repeat;
	display:block;
	text-indent:-9999px;
	width:133px;
	height:32px;
	}
a.btn-purchaseNow:hover
	{
	background:url(../Images/En/btn-purchaseNow.gif) left bottom no-repeat;
	}
a.btn-leftpurchase
	{
	background:url(../Images/btn-leftpurchase.png) no-repeat;
	display:block;
	text-indent:-9999px;
	width:232px;
	height:39px;
	}
a.btn-leftpurchase:hover
	{
	background:url(../Images/btn-leftpurchase.png) left bottom no-repeat;
	}
a.btn-becomeia
	{
	background:url(../Images/btn-becomeia.png) no-repeat;
	display:block;
	text-indent:-9999px;
	width:232px;
	height:35px;
	}
a.btn-becomeia:hover
	{
	background:url(../Images/btn-becomeia.png) left bottom no-repeat;
	}

a.btn-downpdf
	{
	background:url(../Images/En/btn-downpdf.jpg) no-repeat;
	display:block;
	text-indent:-9999px;
	width:350px;
	height:36px;
	}
a.btn-downpdf:hover
	{
	background:url(../Images/En/btn-downpdf.jpg) left bottom no-repeat;
	}
.center a
	{
	margin:0 auto;
	}
a, a:visited, a:active
	{
	color:#A13108;
	}
a:hover
	{
	color:#026ED6;	
	}
a.extern-link, a.extern-link:visited, a.extern-link:active
	{
	font-size:1.1em;
	text-decoration:none;
	font-weight:bold;
	color:#0d0d0d;
	}
#back-links
	{
	padding-bottom:10px;
	}
#back-links .insider
	{
	padding-top:10px;
	}
#back-links a
	{
	background:url(../Images/back-links.gif) 0px 2px no-repeat;
	display:block;
	text-decoration:none;
	padding-left:20px;
	float:left;
	color:#0D0D0D;
	}
#back-links a:hover
	{
	color:#545454;
	text-decoration:underline;
	}

/*sections*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grey-section
	{
	background:url(../Images/grey-section.gif) no-repeat left top;
	padding:15px 15px 5px;
	min-height:180px;
	}
* html .grey-section
	{
	height:180px;
	}
.grey-section-bottom
	{
	background:url(../Images/grey-section.gif) no-repeat left bottom;
	height:10px;
	overflow:hidden;
	margin-bottom:13px;
	}
.white-section
	{
	background:url(../Images/white-section.gif) no-repeat left top;
	padding:15px 15px 0px;
	}
.white-section-bottom
	{
	background:url(../Images/white-section.gif) no-repeat left bottom;
	height:10px;
	overflow:hidden;
	margin-bottom:13px;
	}
.blue-section
	{
	background:url(../Images/blue-section.gif) no-repeat left top;
	padding:15px 15px 0px;
	}
.blue-section-bottom
	{
	background:url(../Images/blue-section.gif) no-repeat left bottom;
	height:10px;
	overflow:hidden;
	margin-bottom:13px;
	}

/*Left Menu*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.menu-section
	{
	background:url(../Images/menu-section.gif) white no-repeat;
	width:212px;
	min-height:70px;
	padding:19px 10px 0px 10px;
	}
.menu-section-bottom
	{
	background:url(../Images/menu-section-bottom.gif) no-repeat;
	width:232px;
	height:12px;
	line-height:0px;
	font-size:0px;
	margin-bottom:20px;
	}
ul#left-menu
	{
	list-style:none;
	padding-top:3px;;
	}
ul#left-menu li
	{
	display:block;
	height:27px;
	padding-top:1px;
	}
ul#left-menu li a
	{
	display:block;
	background:url(../Images/left-menu-item.gif) no-repeat;
	font:1em 'Lucida Grande',arial,sans-serif;
	padding-top:4px;
	padding-left:16px;
	height:23px;
	color:#0d0d0d;
	text-decoration:none;
	}
ul#left-menu li a:hover
	{
	background:url(../Images/left-menu-item.gif) left bottom no-repeat;
	color:#484747;
	color:#752305;
	color:#A13108;
	}
ul#left-menu li.sub-options
	{
	margin-top:1px;
	height:auto;
	background:url(../Images/left-menu-subitem.gif) left bottom no-repeat;
	padding-top:0px;
	}
ul#left-menu li.sub-options span
	{
	display:block;
	background:url(../Images/left-menu-subitem.gif) no-repeat;
	font:1em 'Lucida Grande',arial,sans-serif;
	padding-top:4px;
	padding-left:16px;
	height:27px;
	color:#0d0d0d;
	text-decoration:none;
	}
ul#left-menu li.sub-options ul
	{
	padding:2px 0px 6px;
	}
ul#left-menu li.sub-options ul li
	{
	height:auto;
	padding:0px;
	list-style:none;
	}
ul#left-menu li.sub-options ul li a
	{
	display:inline;
	background:none;
	font:0.85em 'Lucida Grande',arial,sans-serif;
	color:#484747;
	}
ul#left-menu li.sub-options ul li a:hover
	{
	color:#A13108;
	text-decoration:underline;
	}
.menu-section h2
	{
	background-image:url(../Images/left-titles.gif);
	text-indent:-9999px;
	margin:0px -17px 4px -19px;
	position:relative;
	width:243px;
	height:57px;
	}

/*footer*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#footer
	{
	background:url(../Images/bg-footer.jpg) left bottom no-repeat #d5e3f2;
	min-height:90px;
	padding:10px 100px 10px 20px;
	font-size:0.85em;
	}
* html #footer
	{
	height:90px;
	}
.latest-test
	{
	float:left;
	width:216px;
	padding-left:5px;
	padding-top:5px;
	}
.latest-test ul
	{
	border-top:1px solid #abc1d8;
	}
.latest-test ul li
	{
	list-style:none;
	border-bottom:1px solid #abc1d8;
	}
.latest-test ul li a, .latest-test ul li a:visited, .latest-test ul li a:active
	{
	display:block;
	line-height:22px;
	background:url(../Images/arrow.gif) no-repeat left 8px;
	padding-left:8px;
	color:#383737;
	text-decoration:none;
	}
.latest-test ul li a:hover
	{
	color:#026ed6;
	}
.footer-links
	{
	float:right;
	padding-bottom:12px;
	padding-top:5px;
	text-align:right;
	height:18px;
	width:600px;
	overflow:hidden;
	line-height:16px;
	}
.footer-links a, .footer-links a:visited, .footer-links a:active
	{
	padding:2px;
	color:#383737;
	text-decoration:none;
	}
.footer-links a:hover
	{
	color:#026ed6;
	text-decoration:underline;
	}
.copyright
	{
	text-align:right;
	float:right;
	width:580px;
	display:block;
	padding-top:3px;
	line-height:0.9em;
	}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*EXTRA STuff for members pages*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grey-border
	{
	background:url(../Images/grey-border.gif) no-repeat left bottom;
	padding-bottom:11px;
	margin-bottom:20px;
	}
.grey-border .insider
	{
	background:url(../Images/grey-border.gif) no-repeat;
	padding:11px 11px 0px;
	}
.grey-lighter
	{
	background:url(../Images/grey-lighter.gif) no-repeat left bottom;
	padding-bottom:11px;
	margin-bottom:20px;
	}
.grey-lighter .insider
	{
	background:url(../Images/grey-lighter.gif) no-repeat;
	padding:11px 11px 0px;
	}
table.new-table td
	{
	border-top:1px solid #e2e0e0;
	}
table.new-table td, table.new-table th
	{
	padding:4px 5px;
	text-align:center;
	}

table.new-table tr.yellow-th th
	{
	background:url(../Images/bg-th.gif) repeat-x #fff6da;
	border-top:1px solid #e4d8cc;
	height:36px;
	font-family:'Lucida grande',arial;
	color:#432f20;
	border-bottom:0px;
	}
table.new-table th
	{
	background:url(../Images/bg-th-blue.gif) repeat-x #1173ca;
	border-bottom:1px solid #1b62a4;
	height:36px;
	font-family:'Lucida grande',arial;
	color:white;
	}
/*Iulian remove :) */
table.new-table2 th
	{
	background: none;
	border-top: none;
	border-bottom: none;
	height:15px !important;
	font-family:'Lucida grande',arial;
	color:#432f20;
	border-bottom:0px;
	}



.even
	{
	background:#f3f3f3 !important;
	}
table.new-table tr
	{
	cursor:pointer;
	}
table.new-table tr:hover td
	{
	background:#fff5d6;
	}
.foot-note
	{
	font-size:0.9em;
	line-height:1.4em;
	color:#555555;
	}
#store-profile .right-align
	{
	line-height:1.3em;
	width:345px;
	padding:3px 0px 4px;
	padding-left:220px;
	}
#store-profile .right-align img
	{
	padding-right:4px;
	}
#store-profile .form label 
	{
	width:210px;
	}
#store-profile .form .input-text, #store-profile .form textarea  
	{
	width:340px;
	}
#store-profile .form .input-file 
	{
	margin-right:51px;
	width:345px;
	}
#store-profile h2
	{
	border-bottom:1px solid #D9D9D9;
	padding-bottom:5px;
	}
#store-profile ul.listing li
	{
	padding-bottom:10px;
	}


.form-row label
	{
	display:block;
	float:left;
	width:70px;
	line-height:25px;
	padding-right:10px;
	}
.form-row label.wider
	{
	width:170px;
	}
.form-row label.wide
	{
	width:100px;
	}
.form-row select
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:26px;
	width:360px;
	line-height:25px;
	margin-right:10px;
	}
.form-row select.s
	{
	width:260px;
	}
.form-row .btn-view
	{
	float:left;
	}

ul.prods-listing
	{
	list-style:none;
	font-size:0.9em;
	}
ul.prods-listing li
	{
	background:url(../Images/grey-border.gif) no-repeat left bottom;
	padding-bottom:7px;
	margin-bottom:15px;
	}
ul.prods-listing li .insider
	{
	background:url(../Images/grey-border.gif) no-repeat;
	padding:7px 7px 0px;
	}
ul.prods-listing .img-holder
	{
	background:white;
	float:left;
	padding:15px 0;
	text-align:center;
	width:200px;	
	}
ul.prods-listing .img-holder-travel
	{
	background:white;
	float:left;
	padding:15px 0 0px;
	text-align:center;
	width:200px;
	height:190px;
	overflow:hidden;
	}
ul.prods-listing .prod-description, ul.prods-listing .prod-description-many, ul.prods-listing .prod-description-travel
	{
	float:right;
	width:424px;
	color:#444;
	padding-top:15px;
	min-height:107px;
	line-height:1.4em;
	}
* html ul.prods-listing .prod-description
	{
	height:107px;
	}
ul.prods-listing .prod-description-many
	{
	min-height:0px;
	}
ul.prods-listing .prod-description-travel
	{
	min-height:162px;
	}
* html ul.prods-listing .prod-description-travel
	{
	height:162px;
	}

.btn-wrapper
	{
	float:right;
	width:424px;
	height:28px;
	overflow:hidden;
	}
.nfo-stats
	{
	float:left;
	background:url(../Images/bg-stats.gif) no-repeat;
	width:289px;
	height:28px;
	padding-left:15px;
	color:#33495b;
	font-weight:bold;
	font-size:0.9em;
	line-height:28px;
	}
span.nfo-down
	{	
	padding-right:15px;	
	}
.btn-download
	{
	display:block;
	background:url(../Images/btn-download.gif) 0px 0px no-repeat;
	width:120px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	float:right;
	}
.btn-download:hover
	{
	background:url(../Images/btn-download.gif) left bottom no-repeat;
	color:#08162d;
	}
.btn-webinar-simple
	{
	display:block;
	background:url(../Images/btn-webinar-simple.gif) 0px 0px no-repeat;
	width:120px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	float:right;
	}
.btn-webinar-simple:hover
	{
	background:url(../Images/btn-webinar-simple.gif) left bottom no-repeat;
	color:#08162d;
	}
h2.normal-text
	{
	color:#0d0d0d;
	color:#27292b;
	font:1.5em Arial,Tahoma,Helvetica,sans-serif;
	font-weight:normal;
	}

ul.prods-listing h3
	{
	font:1.2em Times new roman,sans-serif;
	color:#a13108;
	font-weight:bold;
	margin-bottom:0px;
	}
ul.prods-listing p
	{
	padding-top:10px;
	}
.title-many
	{
	float:right;
	width:424px;
	background:url(../Images/arrow-yellow.gif) 0px 3px no-repeat;
	padding-left:10px;
	padding-bottom:4px;
	margin-top:15px;
	font-weight:bold;
	color:#27292b;
	}
strong.black
	{
	color:#0d0d0d !important;
	}
h3 span
	{
	font-size:1em;
	font-weight:normal
	}

.grey-wrapper #userinfo ul
	{
	background:none;
	}

ul.listing2
	{
	list-style:none;
	padding:0 15px;
	}
ul.listing2 li
	{
	background:transparent url(../Images/arrow2.gif) no-repeat scroll 0 8px;
	padding:3px 15px;
	font-size:0.9em;
	}
ul.listing2 li strong
	{
	padding-right:5px;
	}

.account-status .grey-wrapper
	{
	margin-bottom:10px;
	}
div.arrow
	{
	background:transparent url(../Images/arrow2.gif) no-repeat scroll 0 8px;
	padding:3px 15px;
	font-size:0.9em;
	margin:0px 15px;
	}
ul.simple-list
	{
	margin-bottom:20px;
	margin-top:10px;
	padding-left:3px;
	}
ul.simple-list li
	{
	background:transparent url(../Images/arrow2.gif) no-repeat scroll 0 5px;
	padding:0px 14px;
	font-size:0.9em;
	list-style:none;
	}
.matrix_title
	{
	text-align:center;
	padding:3px 0px;
	color:#a13108;
	}
.m-name
	{
	font-weight:bold;
	}
.m-name a, .m-name a:visited, .m-name a:link
	{
	color:#0D0D0D;
	text-decoration:none;
	}
.m-name a:hover
	{
	color:#053154;
	text-decoration:underline;
	}
.m-info
	{
	font-size:0.9em;
	color:#555555;
	}
.directbox
	{
	margin:5px;
	min-height:60px;
	padding:10px;
	}
.blue-cell
	{
	background:url(../Images/cell-blue.gif) #438cc5 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
	}
.blue-cell:hover
	{
	background:url(../Images/cell-blue-over.gif) #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
	}
.gold-cell
	{
	background:url(../Images/cell-blue.gif) #C90 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
	}
.gold-cell:hover
	{
	background:url(../Images/cell-blue-over.gif) #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
	}
	
.yellow-cell
	{
	background:url(../Images/cell-yellow.gif) #5bc1db repeat-x;
	border-top:1px solid #ece6d4;
	border-right:1px solid #e0c0a2;
	border-bottom:1px solid #e0c0a2;
	border-left:1px solid #ece6d4;
	}
.yellow-cell:hover
	{
	background:url(../Images/cell-yellow-over.gif) #fff repeat-x;
	border-top:1px solid #f4f0e5;
	border-right:1px solid #edd8c2;
	border-bottom:1px solid #edd8c2;
	border-left:1px solid #f4f0e5;
	}
.grey-cell
	{
	background:url(../Images/cell-grey.gif) #e0e3e6 repeat-x;
	border-top:1px solid #e0e0e0;
	border-right:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4;
	border-left:1px solid #e0e0e0;
  	border-radius: 10px;
	
	}

.legend:after {content:"."; display:block; height:0;
                 clear:both; visibility:hidden; }
.legend       {display:inline-block;}
/* Hide from IE Mac */
.legend        {display:block;}
/* End hide from IE Mac */
* html .legend { height:1px;}
.legend 
	{
	padding:15px 25px;
	}
.legend div
	{
	float:left;
	width:85px;
	font-size:0.9em;
	}
.legend span
	{
	display:block;
	float:left;	
	width:10px;
	height:10px;
	margin-right:7px;
	margin-top:3px;
	}
.legend span.blue
	{
	background:url(../Images/cell-blue.gif) #438cc5 repeat-x;
	border:1px solid #becfdd;
	}
.legend span.gold
	{
	background:url(../Images/cell-blue.gif) #C90 repeat-x;
	border:1px solid #becfdd;
	}
	
.legend span.yellow
	{
	background:url(../Images/cell-yellow.gif) #5bc1db repeat-x;
	border:1px solid #ece6d4;
	}
.legend span.grey
	{
	background:url(../Images/cell-grey.gif) #e0e3e6 repeat-x;
	border:1px solid #e0e0e0;
	}
.bank-img-wide
	{
	width:400px;
	margin:0 auto 15px;
	line-height:1.4em;
	font-size:0.9em;
	}

#ad-copy ul.listing
	{
	padding-left:15px;
	margin-bottom:15px;
	padding-bottom:0px;
	}
#ad-copy ul.listing li
	{
	padding-bottom:5px;
	}
#ad-copy hr, #fund-account hr
	{
	margin-bottom:30px;
	}
.ppc-ads
	{
	padding-left:15px;
	}
#change-user .form-login
	{
	margin:40px 45px;
	}
#change-user .form-login label
	{
	width:150px;
	font-family:arial,tahoma,helvetica;
	}
#change-user .right-cell
	{
	padding-left:150px;
	}

table.extra-table
	{
	width:100%;
	border-left:1px solid #E2E0E0;
	border-top:1px solid #a8cce5;
	}
table.extra-table td
	{
	border-right:1px solid #E2E0E0;
	border-bottom:1px solid #E2E0E0;
	padding:5px;
	text-align:center;
	background:white;
	}
table.extra-table tr.even td
	{
	background:#F3F3F3;
	}
table.extra-table th
	{	
	border-right:1px solid #BECFDD;
	border-bottom:1px solid #BECFDD;
	padding:5px;
	text-align:center;
	font-weight:normal;
	}
table.extra-table tr.head1 th
	{	
	background:url(../Images/bg-head1.gif) repeat-x #cee9fa;
	}
table.extra-table tr.head2 th
	{
	background:#cee9fa;	
	}
div.table-title
	{
	border:0px;
	border-collapse:separate;
	padding-bottom:8px;
	font-weight:bold;
	padding-top:5px;
	text-align:center;
	}
#view-downline .grey-border
	{
	padding-bottom:8px;
	}
#view-downline .grey-border .insider
	{
	padding:8px 8px 0px;
	}

textarea.fetch-textarea
	{
	float:left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:200px;
	padding-top:4px;
	width:647px;
	padding-left:5px;
	}
textarea.fetch-textarea:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}

table.order-table, table.order-total
	{
	width:100%;
	border-collapse:collapse;
	}
table.order-table td, table.order-table th
	{
	padding:6px 10px;
	border-bottom:1px solid #E2E0E0;
	}
table.order-table tr th
	{
	border-top:1px solid #a8cce5;
	background:url(../Images/bg-head1.gif) repeat-x #cee9fa;
	}
table.order-table tr th.th-price
	{
	text-align:right;
	}
table.order-total td
	{
	padding:1px 10px;
	text-align:right;
	}
.banners-listing .insider
	{
	text-align:center;
	}
.banners-listing img
	{
	display:block;
	margin:0 auto 10px;
	}
.banners-listing textarea
	{
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:80px;
	padding-top:4px;
	width:460px;
	padding-left:5px;
	text-align:left !important;
	}
.banners-listing textarea:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.banners-listing .banner-size
	{
	display:block;
	padding-bottom:10px;
	font-weight:bold;
	font-size:1.2em;
	}

.btn-monday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) 0px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-monday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) 0px bottom no-repeat;
	}
.btn-tuesday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -193px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-tuesday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -193px bottom no-repeat;
	}
.btn-wednesday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -386px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-wednesday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -386px bottom no-repeat;
	}
.btn-thursday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -579px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-thursday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -579px bottom no-repeat;
	}
.btn-friday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -772px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-friday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -772px bottom no-repeat;
	}
.btn-saturday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -965px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-saturday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -965px bottom no-repeat;
	}
.btn-sunday-web
	{
	display:block;
	background:url(../Images/En/btn-webinar.gif) -1158px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 0 !important;
	}
.btn-sunday-web:hover
	{
	background:url(../Images/En/btn-webinar.gif) -1158px bottom no-repeat;
	}
.btn-access
	{
	display:block;
	background:url(../Images/btn-access.gif) 0px 0px no-repeat;
	width:193px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:10px auto 25px !important;
	}
.btn-access:hover
	{
	background:url(../Images/btn-access.gif) 0px bottom no-repeat;
	}
#shorter-public-calls
	{
	padding-bottom:15px;
	text-align:center;
	}
#shorter-public-calls .grey-lighter
	{
	margin-bottom:15px;
	}
#training-sch .grey-wrapper
	{
	margin-bottom:15px;
	}
#training-sch .yellow-wrapper-s
	{
	margin-bottom:40px;
	}

.calendar-wrapper
	{
	background:url(../Images/bg-calendar.jpg) no-repeat;
	padding-top:60px;
	margin-bottom:30px;
	}
.calendar
	{
	background:url(../Images/bg-calendar.jpg) left bottom no-repeat;
	padding:0px 13px 9px 11px;
	}

.calendar table
	{
	border-collapse:collapse;	
	}
.calendar table tr td
	{
	border:1px solid #ccc;
	width:90px;
	vertical-align:top;
	padding:0px;
	}
.calendar table tr td:hover
	{
	background:#f2f0f1;
	}
.calendar table tr td.no-call
	{
	background:#fbfaf4;
	}
div.week-day
	{
	background:url(../Images/bg-weekday.jpg);
	height:35px;
	margin:-1px -1px -1px -1px;
	position:relative;
	font:12px/35px georgia,"times new roman",serif;
	color:#fefefe;
	font-weight:bold;
	text-align:center;
	}
div.app
	{
	border-top:1px solid #ccc;
	padding:10px 7px 10px 10px;
	min-height:50px;
	}
div.app span.app-time
	{
	display:block;
	font-weight:bold;
	background:url(../Images/a-link.gif) left 3px no-repeat;
	padding-left:14px;
	color:#111;
	padding-bottom:5px;
	font-size:13px;
	}
div.app span.app-text
	{
	font-size:12px;
	line-height:14px;
	}
td.no-call div.app span
	{
	display:block;
	text-align:center;
	}
#capture-pages h2
	{
	margin-top:40px;
	}
#capture-pages .yellow-wrapper-s
	{
	margin-bottom:0px;
	padding-bottom:15px;
	}
#capture-pages .insider
	{
	padding:15px 15px 0px; 
	}
#capture-pages label
	{
	width:240px;
	}
#capture-pages .right-align
	{
	padding-left:250px;
	}
#capture-pages .btn-holder 
	{
	margin-bottom:15px;
	}
#capture-pages textarea
	{
	height:80px;
	}
#testimonials .description
	{
	float:left;
	width:160px;
	}
#testimonials .text 
	{
	float:right;
	width:452px;
	}
description img 
	{
	background:white;
	border:1px solid #999999;
	height:150px;
	overflow:hidden;
	padding:5px;
	width:125px;
	margin-bottom:5px;
	}

td.holding
	{
	color:#d30808;
	}
td.pending
	{
	color:#2a9de1;
	}
td.paid
	{
	color:#007400;
	}
.input-s
	{

	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:20px;
	padding-top:4px;
	width:200px;
	}
.input-s:focus
	{
	border:1px solid #c34f4f;
	background:url(../Images/bg-input-focus.gif) no-repeat;
	}
.simple-wrapper
	{
	margin-bottom:20px;
	padding:0px 15px 15px;
	}


/*TRAINING ARCHIVE*/
#training-archive .btn-wrapper 
	{
	float:none;
	width:auto;
	}
#training-archive .nfo-stats 
	{
	width:503px;
	}
#training-archive .prod-description
	{
	float:none;
	width:auto;
	padding:8px 15px;
	min-height:87px;
	}
#training-archive .prod-description p
	{
	margin-bottom:10px;
	}
#training-archive h2.normal-text
	{
	color:#33495B;
	}
#comission-profile .grey-wrapper2 .insider
	{
	padding:30px 40px 0px;
	}
ul.numeric-list
	{
	margin-bottom:20px;
	list-style:decimal;
	padding-left:40px;
	}
.leftadv-holder
	{
	margin:20px -10px 20px;
	position:relative;
	}
.choose-file
	{
	text-align:center;
	padding-bottom:25px;
	}
.choose-file a
	{
	padding:0 50px;
	}

#gcc-fee-page ul.simple-list
	{
	margin-bottom:10px;
	}
#gcc-fee-page ul.simple-list span
	{
	display:block;
	float:left;
	width:400px;
	}
#gcc-fee-page .grey-lighter .insider
	{
	padding:11px 45px 0;
	}
#join-sponsor ul.simple-list 
	{
	margin-bottom:10px;
	}
#join-sponsor ul.simple-list span
	{
	display:block;
	float:left;
	width:100px;
	}
#join-sponsor .grey-wrapper
	{
	margin-bottom:20px;
	}
#join-sponsor .grey-wrapper .insider
	{
	padding:11px 25px 0;
	}
.closer
	{
	margin-top:-25px;
	position:relative;
	margin-bottom:0px;
	}
#fund-account .numeric-list
	{
	padding-left:30px;
	}
#fund-account .numeric-list li
	{
	padding-bottom:15px;
	}
#fund-account .numeric-list li p
	{
	margin-bottom:5px;
	}
.under
	{
	text-decoration:underline;
	}
#privacy ul.numeric-list
	{
	margin-bottom:20px;
	list-style:decimal;
	padding-left:40px;
	padding-right:20px;
	}
#privacy ul.numeric-list li
	{
	padding-bottom:35px;
	}
#privacy ul.numeric-list ul
	{
	list-style:lower-alpha;
	padding-bottom:0px;
	padding-left:20px;
	padding-top:5px;
	}
#privacy ul.numeric-list ul.pt
	{
	list-style:disc;
	}
#privacy ul.numeric-list ul li
	{
	padding-bottom:10px;
	}
.lh
	{
	width:50%;
	float:left;
	}
.rh
	{
	width:40%;
	float:right;
	}
.sz-x
	{
	font-size:1.1em !important;
	}
.excess
	{
	margin:0 -28px;
	text-align:center;
	}
.comp-data
	{
	width:100%;
	border-collapse:collapse;
	font-size:0.85em;
	}
.comp-data th, .comp-data td
	{
	border:1px solid #e4e4e4;
	padding:5px;
	text-align:center;
	} 
.comp-data th
	{
	background:url(../Images/title.jpg) left bottom repeat-x #f4f4f4;
	}
td.left, th.left
	{
	text-align:left !important;
	}
.comp-data td.featured
	{
	font-weight:bold;
	background:#e8f5fe;
	}
.comp-data tr:hover td
	{
	background:#f4fafe;
	}
.comp-data tr:hover td.featured
	{
	background:#dcecf7;
	}

.optional
	{
	margin-top:40px;
	}
.optional label.normal-label
	{
	width:410px !important;
	padding-right:18px !important;
	}
.optional .note-s
	{
	margin-bottom:15px;
	}
.optional .row
	{
	margin-bottom:10px;
	}
.aleft
	{
	text-align:left !important;
	}
.italic
	{
	font-style:italic;
	}
.l-info
	{
	float:left;
	font-weight:bold;
	display:block;
	padding-bottom:5px;
	}
.r-info
	{
	padding-bottom:5px;
	display:block;
	height:16px;
	float:right;
	background:url(../Images/security.gif) no-repeat;
	line-height:16px;
	padding-left:20px;
	font-size:0.9em;
	}
.f-left
	{
	float:left;
	}
.f-right
	{
	float:right;
	}
.gift-cell
	{
	width:50%;
	float:left;
	text-align:center;
	background:url(../Images/bg-gift-cell.gif) center top no-repeat;
	height:200px;
	padding-top:21px
	}
.roundgrey-wrapper
	{
	background:#f3f3f3;
	position:relative;
	padding:15px 25px;
	min-height:235px;
	}
.corner-tl
	{
	background:url(../Images/corners.gif) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	width:6px;
	height:6px;
	}
.corner-tr
	{
	background:url(../Images/corners.gif) right top no-repeat;
	position:absolute;
	top:0px;
	right:0px;
	width:6px;
	height:6px;
	}
.corner-bl
	{
	background:url(../Images/corners.gif) left bottom no-repeat;
	position:absolute;
	bottom:0px;
	left:0px;
	width:6px;
	height:6px;
	}
.corner-br
	{
	background:url(../Images/corners.gif) right bottom no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	width:6px;
	height:6px;
	}
.login-cell
	{
	float:left;
	width:60%;
	}
.login-cell .roundgrey-wrapper
	{
	background:#f3f3f3;
	position:relative;
	padding:45px 25px 0px;
	min-height:220px;
	}
.create-account-cell
	{
	float:right;
	width:38%;
	text-align:center;
	}

.language-holder
	{
	position:absolute;
	right:-2px;
	top:12px;
	width:120px;
	z-index:99999;
	}
.language-holder label
	{
	display:none;
	}
.language-holder .insider
	{
	background:url(../Images/language-holder.png) no-repeat;
	}
.language-holder .bottom
	{
	background:url(../Images/language-holder.png) left bottom no-repeat;
	height:5px;
	}
* html .language-holder .insider
	{
	background:url(../Images/arrow-down.gif) right top no-repeat #f5f9fc;
	}
* html .language-holder .bottom
	{
	background:#f5f9fc;
	height:2px;
	overflow:hidden;
	}
.language-holder a, .language-holder a:visited, .language-holder a:link
	{
	display:block;
	height:15px;
	padding-left:12px;
	font:0.9em/14px arial;
	text-decoration:none;
	color:#3f3f3f;
	padding-left:32px;
	padding-top:3px;
	background:url(../Images/flags.gif) no-repeat;	
	}
.language-holder a:hover
	{
	text-decoration:underline;
	color:#026ed6;
	}
* html .language-holder a
	{
	margin-left:10px;
	padding-left:22px;
	}
.submenu
	{
	list-style:none;
	padding:3px 0px;
	display:none;
	}
.submenu li
	{
	padding:1px 0px;
	}
.language-holder .insider:hover .submenu, .language-holder .insider:focus .submenu 
	{
	display:block;
	}

 .language-holder a.en
	{
	background-position:10px 0px;
	}
.language-holder a.bg
	{
	background-position:10px -18px;
	}
.language-holder a.es
	{
	background-position:10px -36px;
	}
.language-holder a.hk
	{
	background-position:10px -54px;
	}
.language-holder a.br
	{
	background-position:10px -72px;
	}
.language-holder a.kr
	{
	background-position:10px -90px;
	}
.language-holder a.jp
	{
	background-position:10px -108px;
	}
.language-holder a.fr
	{
	background-position:10px -126px;
	}

ul.language-list
	{
	list-style:none;
	padding-bottom:30px;
	padding-left:50px;
	}
ul.language-list li
	{
	background:url(../Images/arrow-grey.gif) 0px 5px no-repeat;
	padding:0px 0px 5px 0px;
	width:100px;
	}
ul.language-list li a, ul.language-list li a:visited, ul.language-list li a:link
	{
	display:block;
	height:15px;
	padding-left:12px;
	font:1em/14px arial;
	text-decoration:none;
	color:#3f3f3f;
	padding-left:32px;
	padding-top:3px;
	background:url(../Images/flags.gif) no-repeat;
	}
ul.language-list li a:hover
	{
	text-decoration:underline;
	color:#026ed6;
	}
ul.language-list li a.en
	{
	background-position:10px 0px;
	}
ul.language-list li a.bg
	{
	background-position:10px -18px;
	}
ul.language-list li a.es
	{
	background-position:10px -36px;
	}
ul.language-list li a.hk
	{
	background-position:10px -54px;
	}
ul.language-list li a.br
	{
	background-position:10px -72px;
	}
ul.language-list li a.kr
	{
	background-position:10px -90px;
	}
ul.language-list li a.jp
	{
	background-position:10px -108px;
	}
ul.language-list li a.fr
	{
	background-position:10px -126px;
	}

h1.h1-national-conference
	{
	background:url(../Images/h1-national-conference.gif) top center no-repeat;
	}
h1.h1-tickets
	{
	background:url(../Images/h1-tickets.gif) top center no-repeat;
	}
h1.h1-comissions
	{
	background:url(../Images/h1-comissions.gif) top center no-repeat;
	}
.btn-purchase-ticket
	{
	display:block;
	background:url(../Images/btn-purchase-ticket.gif) 0px 0px no-repeat;
	width:125px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-purchase-ticket:hover
	{
	background:url(../Images/btn-purchase-ticket.gif) 0px bottom no-repeat;
	color:#08162d;
	}
.btn-more-info
	{
	display:block;
	background:url(../Images/btn-more-info.gif) 0px 0px no-repeat;
	width:235px;
	height:28px;
	cursor:pointer;
	font-size:0px;
	line-height:0px;
	text-indent:-999em;
	margin:0 auto;
	}
.btn-more-info:hover
	{
	background:url(../Images/btn-more-info.gif) 0px bottom no-repeat;
	color:#08162d;
	}
#comissions .listing
	{
	padding-left:20px;
	padding-bottom:0px;
	}
#comissions .listing li 
	{
	background:url("../Images/arrow-grey.gif") no-repeat scroll 0 10px transparent;
	padding:5px 15px;
	}

.res-list .insider
	{
	padding:40px 45px 0 35px;
	}
.res-list img.ico-logo
	{
	display:block;
	float:left;
	}
.res-list .descript
	{
	float:right;
	margin-bottom:20px;
	width:530px;
	}
.res-list .descript p
	{
	margin-bottom:10px;
	}
.bbullet-list
	{
	list-style:none;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	}
.bbullet-list li
	{
	background:url("../Images/arrow-yellow.gif") 0px 15px no-repeat;
	padding:10px 0px 10px 20px;
	text-align:justify;
	}
.fancy-grad-holder
	{
	background:url(../Images/fancy-grad.jpg) center top no-repeat;
	margin:0 -28px;
	position:relative;
	padding:10px 27px;
	min-height:367px;
	}
* html .fancy-grad-holder
	{
	height:367px;
	}
.table-holder-top
	{
	background:url(../Images/table-holder.png) left top no-repeat;
	height:11px;
	}
.table-holder
	{
	background:url(../Images/table-pat.png) left top repeat;
	padding:0 11px;
	}
.table-holder-bottom
	{
	background:url(../Images/table-holder.png) left bottom no-repeat;
	height:13px;
	}
* html .table-holder-top, * html .table-holder-bottom
	{
	height:0px;
	overflow:hidden;
	}
* html .table-holder
	{
	background:white;
	border:1px solid #d1d1d1;
	padding:8px;
	}
.mail-options
	{
	background:url(../Images/mail-options.gif) left bottom repeat-x #6faee9;
	border:1px solid #5c92c3;
	border-bottom:none;
	padding:8px 6px;
	height:22px;
	}
.title-announce
	{
	float:left;
	padding-left:12px;
	font-weight:bold;
	padding-bottom:4px;
	}
.keys
	{
	float:right;
	color:#333333;
	font-size:0.9em;
	font-weight:bold;
	padding-right:12px;
	}
.keys span
	{
	background:url(../Images/bullet-imp.png) left 2px no-repeat;
	padding-left:15px;
	font-weight:normal;
	font-size:0.9em;
	}
.pagination
	{
	float:right;
	color:#333333;
	font:0.9em  "Lucida Grande", Tahoma,Arial,sans-serif;
	padding-right:4px;
	padding-top:10px;
	}
.pagination a, .pagination a:visited, .pagination a:active
	{
	color:#333333;
	text-decoration:none;
	background:#f3f6f9;
	border:1px solid #dee6ee;
	padding:0px 3px 0px;
	}
.pagination a:hover
	{
	color:#0085CA;
	background:#ebf0f4;
	border:1px solid #c7d5e2;
	}
.pagination strong
	{
	color:#333333;
	border:1px solid #FFFFFF;
	padding:0px 3px 0px;
	font:bold 1em  "Lucida Grande", Tahoma,Arial,sans-serif;
	}
.pagination span
	{
	padding-left:3px;
	}
.btn-mark-unread
	{
	background:url(../Images/mail-options-sprite.gif) no-repeat;
	display:block;
	height:22px;
	width:98px;
	text-indent:-9999px;
	float:left;
	margin-right:6px;
	}
.btn-mark-unread:hover
	{
	background:url(../Images/mail-options-sprite.gif) left -22px no-repeat;
	}
.btn-mark-read
	{
	background:url(../Images/mail-options-sprite.gif) right top no-repeat;
	display:block;
	height:22px;
	width:98px;
	text-indent:-9999px;
	float:left;
	margin-right:6px;
	}
.btn-mark-read:hover
	{
	background:url(../Images/mail-options-sprite.gif) right -22px no-repeat;
	}
table.mailing
	{
	width:100%;
	font-size:0.9em;
	border-bottom:1px solid #E2E0E0;
	}
table.mailing a, table.mailing a:visited, table.mailing a:active
	{
	text-decoration:none;
	color:#3E4449;
	display:block;
	}
table.mailing .unread a
	{
	color:#222;
	}
table.mailing a:hover
	{
	text-decoration:underline;
	}
table.mailing td
	{
	padding:3px 6px;
	} 
table.mailing tr th 
	{
	background:url("../Images/bg-head1.gif") repeat-x scroll 0 0 #CEE9FA;
	font-weight:normal;
	text-align:left;
	border-right:1px solid #e8f4fb;
	color:#3e596e;
	padding:2px 6px;
	}
table.mailing tr th.em-date 
	{
	border-right:0px;
	}	
table.mailing td
	{
	border-top:1px solid #edf0f2;
	color:#3e4449;
	}
tr.unread td
	{
	font-weight:bold;
	color:#222 !important;
	}
table.mailing tr.even td
	{
	background:url(../Images/even.gif) left bottom repeat-x #f8f9fa;
	}

table.mailing tr:hover td
	{
	background:#e4eaf0;
	border-top:1px solid #dae0e5;	
	}
.link-back
	{
	float:left;
	color:#333333;
	font-size:0.9em;
	padding-left:6px;
	padding-bottom:2px;
	}
.link-back a, .link-back a:visited, .link-back a:active
	{
	color:#333333;
	text-decoration:none;
	padding:0 2px 0px 12px;
	vertical-align:middle;
	font:1em "Lucida Grande",Tahoma,Arial,sans-serif;
	background:url(../Images/back-arrow.gif) left top no-repeat;
	}
.link-back a:hover
	{
	color:#0085CA;
	text-decoration:underline;
	}
.email-body
	{
	padding:20px 10px;
	}
.aright
	{
	float:right;
	}
.email-title
	{
	background:url(../Images/even.gif) left bottom repeat-x #f8f9fa;
	border-bottom:1px solid #edf0f2;
	padding:15px 10px;
	}
.email-title dl
	{
	font-size:0.9em;
	line-height:16px;
	}
.email-title dl dt
	{
	float:left;
	color:#999;
	width:38px;
	text-align:right;
	padding-right:8px;	
	font-size:0.9em;
	}
.email-title dl dd
	{
	padding-bottom:6px;
	line-height:16px;
	}
h1.h1-announcements
	{
	background:url(../Images/h1-announcements.gif) top center no-repeat;
	}
.em-subject
	{
	width:70%;
	}
.em-label
	{
	width:12px;
	}
#captcha-wrapper
	{
	margin-left:170px;
	}
.form-login #captcha-wrapper
	{
	margin-left:42px;
	}
#captcha-wrapper input
	{
	left:0px;
	}

.account-security
	{
	margin-bottom:20px;
	}
.account-security .yellow-wrapper-s, .account-security .yellow-lighter-s
	{
	margin-bottom:15px;
	padding-bottom:15px;
	} 
.account-security .insider
	{
	padding-top:15px;
	} 
.account-security ul
	{
	list-style:none;
	padding-left:20px;
	}
.account-security ul li
	{
	padding:1px 0px 2px;
	}
.account-security ul li strong
	{
	display:block;
	width:60px;
	float:left;
	}

#new-announces
	{
	padding:25px 30px 5px;
	}
#new-announces ul:after 
	{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden; 
	}
#new-announces ul       
	{
	display:inline-block;
	display:block;
	}
* html #new-announces ul
	{
	height:1px;
	}
#new-announces ul
	{
	list-style:none;
	background:url(../Images/ico-mail.png) no-repeat right 4px;
	min-height:64px;
	}
#new-announces ul li
	{
	background:transparent url(../Images/announce.png) no-repeat scroll 0 6px;
	padding:3px 80px 3px 22px;
	font-size:0.9em;
	}

#new-announces ul li a
	{
	text-decoration:none;
	color:#0D0D0D;
	font:bold 1em 'Lucida Grande',arial,sans-serif;
	}
#new-announces ul li a:hover
	{
	text-decoration:underline;
	color:#026ed6;
	}
#new-announces ul li span
	{
	display:block;
	color:#999999;
	font-size:0.9em;
	line-height:13px;
	}
a.new-announce
	{
	background:url(../Images/new-announce.png) no-repeat;
	width:232px;
	height:39px;
	display:block;
	text-indent:-9999em;
	}
a.new-announce:hover
	{
	background:url(../Images/new-announce.png) left bottom no-repeat;
	}
a.pending-bulk
	{
	background:url(../Images/pending-bulk.png) no-repeat;
	width:232px;
	height:40px;
	display:block;
	text-indent:-9999em;
	}
a.pending-bulk:hover
	{
	background:url(../Images/pending-bulk.png) left bottom no-repeat;
	}
a.btn-process
	{
	background:url(../Images/btn-process.png) no-repeat;
	width:67px;
	height:21px;
	display:block;
	text-indent:-9999em;
	margin:0 auto;
	}
a.btn-process:hover
	{
	background:url(../Images/btn-process.png) left bottom no-repeat;
	}
#member-nfo ul.simple-list 
	{
	margin-bottom:10px;
	}
#member-nfo ul.simple-list strong
	{
	display:block;
	float:left;
	width:100px;
	font-weight:normal;
	}
#member-nfo
	{
	margin-bottom:20px;
	padding-bottom:11px;
	}
#member-nfo .insider
	{
	padding:11px 25px 0;
	}
.follow
	{
	position:absolute;
	right:130px;
	top:12px;
	z-index:99999;
	}
.follow a
	{
	display:block;
	background:url(../Images/follow.jpg) no-repeat;
	width:23px;
	height:23px;
	float:right;
	margin-left:1px;
	text-indent:-9999em;
	}
.follow span
	{
	color:#7b8a8f;
	display:block;
	width:94px;
	height:21px;
	float:right;
	text-indent:-9999px;
	background:url(../Images/follow-us.jpg) no-repeat;
	}
a.btn-twitter
	{
	background-position:0 0;
	}
a.btn-twitter:hover
	{
	background-position:0 -23px;
	}
a.btn-facebook
	{
	background-position:-23px 0;
	}
a.btn-facebook:hover
	{
	background-position:-23px -23px;
	}
a.btn-youtube
	{
	background-position:-46px 0;
	width:56px;
	}
a.btn-youtube:hover
	{
	background-position:-46px -23px;
	}
.top-extra-inf 
	{
	right:350px;
	}
#inside-pages
	{
	right:0px !important; 
	}
.form label.wider-nlabel
	{
	width:410px;
	padding-right:80px;
	}
.footnote
	{
	color:#333;
	display:block;
	font-size:85%;
	margin-bottom:30px;
	margin-top:-25px;
	padding:0px 30px;
	line-height:13px;
	}
.footnote span
	{
	font-size:130%;
	}
.cellright
	{
	text-align:right !important;
	padding-right:20px !important;
	}
a.prev-link
	{
	background:url(../Images/laquo.gif) no-repeat left 6px;
	padding:0px 9px;
	text-decoration:none;
	}
a.prev-link:hover
	{
	background:url(../Images/laquo_hover.gif) no-repeat left 6px;
	}
a.next-link
	{
	background:url(../Images/raquo.gif) no-repeat right 6px;
	padding:0px 9px;
	text-decoration:none;
	}
a.next-link:hover
	{
	background:url(../Images/raquo_hover.gif) no-repeat right 6px;
	}

.tcards_listing li
	{
	list-style:none;
	float:left;
	width:318px;
	overflow:hidden;
	padding:0px 4px 30px;
	text-align:center;
	}
.tcards_listing li img
	{
	display:block;
	padding-bottom:5px;
	}
.tcards_listing li strong
	{
	font-size:0.9em;
	}
.tcards_listing li span
	{
	color:#0D737A;
	}

.phonecode_wrapper
	{
	display:block;
	float: left;
	background:url(../Images/bg-input-text.gif) no-repeat;
	border-top:1px solid #adaeb0;
	border-left:1px solid #adaeb0;
	border-right:1px solid #dfdfe0;
	border-bottom:1px solid #dfdfe0;
	height:20px;
	padding-top:4px;
    text-align: right;
	padding-right:5px;
	width: 45px;
	font-weight:bold;
	margin-right:5px;
	}
.phone_field input
	{
	float:left !important;
	width:253px !important;
	}
div.KaizenTip {
	display:none; /* use for all tooltip classes */
	border:1px solid #000;
	padding:5px;
	font:11px verdana,arial,sans-serif;
	color:#000;
	background:#fff9d8;
	z-index:1000;
}

a.link_info
	{
	background:url(../Images/link_info.png) no-repeat;
	width:19px;
	height:19px;
	text-indent:-9999em;
	display:block;
	text-align:left;
	margin:0 auto;
	}
a.link_info:hover
	{
	background:url(../Images/link_info.png) no-repeat right top;
	}
a.link_show
	{
	background:url(../Images/link_info.png) left -19px  no-repeat;
	width:19px;
	height:19px;
	text-indent:-9999em;
	display:block;
	text-align:left;
	margin:0 auto;
	}
a.link_show:hover
	{
	background:url(../Images/link_info.png) no-repeat right -19px;
	}
.table_border
	{
	border:1px solid #ccc;
	border-radius:6px;
	-moz-border-radius:6px;
	padding:8px;
	}
.info_wrapper td
	{
	padding: 7px 5px !important;
	}
.info_wrapper tr:hover td
	{
	background:none !important;
	}
.info_row td
	{
	padding:0px !important;
	border-top:0px !important;
	}
.info_row td div
	{
	padding:4px 6px 10px !important;
	}
.info_row td div td
	{
	padding:5px !important;
	}
.info_row th
	{
	color: #0D0D0D !important;
	}
