
.legend span.L1
	{
	background:#069ae8 repeat-x;
	border:1px solid #becfdd;
	}

.L1-cell
	{
	background:#069ae8 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L1-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}


.legend span.L2
	{
	background:#b7b7b7 repeat-x;
	border:1px solid #becfdd;
	}

.L2-cell
	{
	background:#b7b7b7 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L2-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;	
	}


.legend span.L3
	{
	background:#efb12a repeat-x;
	border:1px solid #becfdd;
	}

.L3-cell
	{
	background:#efb12a repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L3-cell:hover
	{
	background: #f16f0f repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}

.legend span.L4
	{
	background:#7e7a79 repeat-x;
	border:1px solid #becfdd;
	}

.L4-cell
	{
	background:#7e7a79 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L4-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}
.legend span.L5
	{
	background:#076aae repeat-x;
	border:1px solid #becfdd;
	}

.L5-cell
	{
	background:#076aae repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L5-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}

.legend span.L6
	{
	background:#f2fa17 repeat-x;
	border:1px solid #becfdd;
	}

.L6-cell
	{
	background:#f2fa17 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L6-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}

.legend span.L7
	{
	background:#fa174c repeat-x;
	border:1px solid #becfdd;
	}

.L7-cell
	{
	background:#fa174c repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L7-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}

.legend span.L8
	{
	background:#f204fb repeat-x;
	border:1px solid #becfdd;
	}

.L8-cell
	{
	background:#f204fb repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L8-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}
.legend span.L9
	{
	background:#C90 repeat-x;
	border:1px solid #becfdd;
	}

.L9-cell
	{
	background:#C90 repeat-x;
	border-top:1px solid #becfdd;
	border-right:1px solid #99a4b1;
	border-bottom:1px solid #99a4b1;
	border-left:1px solid #becfdd;
  	border-radius: 10px;
	
	}
.L9-cell:hover
	{
	background: #fff repeat-x;
	border-top:1px solid #e0e8f0;
	border-right:1px solid #cad1d9;
	border-bottom:1px solid #cad1d9;
	border-left:1px solid #e0e8f0;
  	border-radius: 10px;
	
	}
.matrix_body
{
	overflow: scroll;
}
.m-name{
	color: #000000;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:20px;

}
.m-info{
	color: #000000;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;

}