body {
	background-repeat: repeat-x;
	border: 0px solid red; width: 988px; margin: auto;  
	margin-top:5px;
	margin-bottom:5px;
	background-color: #1e232f;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/back.jpg);
	background-repeat:repeat;
}
.headerBannerPage {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width:963px;
	height:175px;
	text-align:top;
}
.headerBannerHome {
	clear:both;
	width:963px;
	background-color:white;
	text-align:top;
}
.textTinySlash {
	color:#555;
  	font: 11px Tahoma, sans-serif;
	text-decoration:none;
}
.textWhite14, .textWhite14 a:link, .textWhite14 a:visited {
	color:#FFFFFF;
  	font: 14px Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.headerMenuBarBottom .menu_item_active, .headerMenuBarBottom .menu_item_active a, .headerMenuBarBottom .menu_item_active a:link, .headerMenuBarBottom .menu_item_active a:visited {
	font: bold 14px Arial, "Trebuchet MS", Tahoma;
	line-height:14px;
	color:#FF4E00;
	text-decoration: none;
	border:none;
}
.headerMenuBarBottom .menu_item_active a:hover {
	color:#FF4E00;
	text-decoration: none;
}
.headerMenuBarBottom .menu_item_inactive, .headerMenuBarBottom .menu_item_inactive a, .headerMenuBarBottom .menu_item_inactive a:link, .headerMenuBarBottom .menu_item_inactive a:visited {  
	font: bold 14px Arial, "Trebuchet MS", Tahoma;
	line-height:20px;
	color:#333;
	text-decoration: none;
	border:none;
}
.headerMenuBarBottom .menu_item_inactive a:hover {
	color:#FF4E00;
	text-decoration: none;
}
.menu {
    font: 14px Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#000000;
	font-size:12px;
	text-decoration:none;
}
.menu  A:hover {  color:#00FF00; text-decoration:none; font-size:11px; font-weight:bold;}

table.linkcontainer td{

	background-color: #000000;
	filter:alpha(opacity=70);
	opacity: .7;
	-moz-opacity: .7;
		
}
td.logo_area{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
td.middle_spacer {
	width: 800px;
	background-color: #666666;
}
td.shadow_right {
	background-repeat: repeat-y;
	background-position: center;
}
td.shadow_left {
	background-repeat: repeat-y;
	background-position: right;
}
td.body_content {
	padding: 5px;
	background-repeat: repeat;
}
td.below_header{
	background-color: #1F1F1F;
	height: 50px;
	color: #CCCCCC;
	padding: 5px;
}
td.main_content_box {
	background-color: #FFFFFF;
}

td.horizontal_column {
	background-color: #000000;
	border-top-width: 15px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	height: 150px;
	display: table-cell;
	vertical-align: top;
}
td.bottom_link_container {
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	padding: 5px;
}

td.horizontal_center {
	background-color: #FFFFFF;
	border-top-width: 15px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #333333;
	border-bottom-color: #000000;
	border-left-color: #333333;
	height: 150px;
	display: table-cell;
	vertical-align: top;
	
}
td.header_column {
    width: 100%px
	height: 100px;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: large
	background-position: top left; background-repeat:no-repeat
}
td.left_content {
	width: 200px;
	padding:5px;
	vertical-align: top;
	background-repeat: repeat;
	
}

a.main_link:active,a.main_link:visited,a.main_link:link{
	color: #006600;
	text-decoration:none;
		
}
a.main_link:hover{
    text-decoration: underline;
	


}
a.bottom_link:active,a.bottom_link:visited,a.bottom_link:link{
	text-decoration: none;
	color: #FFFFFF;
	
}
a.bottom_link:hover{
    color:#FF0000;
	text-decoration: underline;
	
}
div.bottom_content{
	color: #FFFFFF;
	padding: 5px;
}
div.navigation {
	height: 50px;
	vertical-align: middle;
	text-align: center;
}

.formbutton
{
	border:1px solid #006838;
	background-color:#1256A8;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#1256A8', startColorstr='#1256A8', gradientType='0');
	/*height:24px;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	line-height:25px;
	vertical-align:middle;
	text-align: center;
}

.formitems
{
	border:1px solid #999999;
	background-color:#FFFFFF;
	height:25px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	padding-left:4px;
	line-height:25px;
	vertical-align:middle;	
}

.formitems2
{
	border:1px solid #999999;
	background-color:#FFFFFF;
	height:15px;
	width:170px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	padding-left:4px;
	line-height:20px;
	vertical-align:middle;	
	
}

.formitems3
{
	border:1px solid #999999;
	background-color:#FFFFFF;
	height:17px;
	width:100%px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	padding-left:20px;
	line-height:15px;
	vertical-align:top;	