/* CSS Document */f
html
	{
	height: 100%;
	min-height: 100%;
	border-width: 0px;
	}
body {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 0px;
	background-image: url(../img/bg_header_back.gif);
	background-repeat: repeat;
	background-size:100%;
} 


.topbg
{
	height:24px;
	background-image: url(../images/topbg_gray.gif);
	background-repeat: repeat-x;
}
.leftbg
{
	width:31px;
	background-image: url(../images/leftbg_gray.gif);
	background-repeat: repeat-y;
}
.bottombg
{
	background-repeat:repeat-x;
	height:26px;
	background-image: url(../images/bottombg_gray.gif);
}
.rightbg
{
	background-image:url(../images/rightbg_gray.gif);
	background-repeat:repeat-y;
	width:32px;
}
.headerbgline
{
	background-image:url(../images/headerline.gif);
	background-repeat:repeat-x;
	height:11px;
}
.mainimage
{
	width:211px;
	height:174px;
}
.submainimage
{
	width:211px;
	height:140px;
}
.header
{
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	vertical-align:middle;
	width:450px;
	height:91px;
}
.menubox
{
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	height:18px;
	background-color:#FFFFFF;
}
.menutext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #3D5857;
	text-decoration: none;
}
.menutext:hover
{
	color:#1F3332;
}
.newsbox
{
	border:1px solid #9EA1A6;
	text-decoration:none;
	background-color:#F6F7F7;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#D4D4D4', startColorstr='#F6F7F7', gradientType='1');
}
.newsbox:a
{
	text-decoration:none;
}
.newsbox:hover
{
	color:#1F3332;
	text-decoration:underline;
}
.search_inputbox
{
	border:1px solid #4C8CD4;
	background-color:#FFFFFF;
	width:145px;
	height:19px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#656565;
	padding-left:4px;
	line-height:19px;
	vertical-align:middle;
}
.log_inputbox
{
	border:1px solid #4C8CD4;
	background-color:#FFFFFF;
	width:111px;
	height:19px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#656565;
	padding-left:4px;
	line-height:19px;
	vertical-align:middle;
}
.formbox
{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	font-size:11px;
	color:#656565;
	padding-left:4px;
	line-height:19px;
}
.formitems
{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	height:19px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;		 
	color:#000000;
	padding-left:4px;
	line-height:19px;
	vertical-align:middle;
}
.formbutton
{
	border:1px solid #CCCCCC;
	background-color:#1256A8;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#1256A8', startColorstr='#1256A8', gradientType='0');
	/*height:24px;*/
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#656565;
	line-height:22px;
	vertical-align:middle;
	text-align: center;
}
.formbutton_team
{
	border:1px solid #000000;
	background-color:#1256A8;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#1256A8', startColorstr='#1256A8', gradientType='0');
	/*height:24px;*/
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	line-height:22px;
	vertical-align:middle;
	text-align: center;
}
td {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4D545C;
	text-decoration: none;
}
.td {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4D545C;
	text-decoration: none;
}
.td:hover
{
	text-decoration:underline;
	color:#333333;
}
.footertext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#656565;
	text-decoration:none;
	font-weight:bold;
	line-height:18px;
}
.footertext:hover
{
	text-decoration:underline;
}
.goldtext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF9900;
	line-height:18px;
}
.whitetext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	line-height:18px;
}
.redtext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FA0505;
	text-decoration:none;
	font-weight:bold;
	line-height:18px;
}
.redtext:hover
{
	text-decoration:underline;
}
.graytext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5C5C5C;
	text-decoration:none;
	font-weight:normal;
	line-height:18px;
}
.graytext:hover
{
	text-decoration:underline;
}
.whitespace
{
	white-space:pre;
}
#contentcol
{
	height: 660px;
	width: 720px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color:#666666;
	overflow: scroll;
	cursor: hand;
	background-color:#FFFFFF;
}		
#contentcol_registration_pins
{
	height: 400px;
	width: 790px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color:#666666;
	overflow: scroll;
	cursor: hand;
	background-color:#FFFFFF;
}		
#contentcol_registration_pins_without_search
{
	height: 450px;
	width: 720px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color:#666666;
	overflow: scroll;
	cursor: hand;
	background-color:#FFFFFF;
}
.formmultiline
{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#656565;
	padding-left:4px;
	vertical-align:middle;
	text-align:left;
}
.login
{
	background-color:#FFFFFF;
    BORDER-RIGHT: #cccccc 1px solid;
    MARGIN-TOP: 0px;
    OVERFLOW:hidden;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 227px;
    BORDER-BOTTOM: #cccccc 1px solid;
    HEIGHT: 125px;
    TEXT-ALIGN: justify
  
}
#contentcol_direct_genealogy
{
	height: 168px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color:#666666;
	overflow: scroll;
	cursor: hand;
	background-color:#FFFFFF;
}	

.newsbody
{
	background-color:#FFFFFF;
    BORDER-RIGHT: #cccccc 0px solid;
    BORDER-LEFT: #cccccc 0px solid;
	BORDER-BOTTOM: #cccccc 0px solid;	
    MARGIN-TOP: 0px;
    OVERFLOW:hidden;
    WIDTH: 220px;
    HEIGHT: 205px;
    TEXT-ALIGN: justify
  
}
.body_package
{
	background-color:#FFFFFF
    PADDING-RIGHT: 8px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 8px;
    OVERFLOW:hidden;
    BORDER-LEFT: #cccccc 1px solid;
	BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    WIDTH: 248px;
    PADDING-TOP: 8px;
    HEIGHT: 520px;
    TEXT-ALIGN: justify
  
}
.cprofile
{
	background-color:#FFFFFF;
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 8px;
    PADDING-TOP: 8px;	
    OVERFLOW:hidden;
    BORDER-LEFT: #cccccc 1px solid;
	BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
    WIDTH: 491px;
    HEIGHT: 183px;
    TEXT-ALIGN: justify
  
}
