a {
    color: #E05E00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* general */

.clear {
    clear: both;
}


/* Header */

.brand {
    color: #E05E00 !important;
    font-family: georgia;
    font-style: italic;
}


/* list stuff */

#org {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#show-list {
    cursor: pointer;
}


/* bootstrap overrides */

.alert-message {
    margin: 2px 0;
}

.topbar {
    position: absolute;
}


/* Custom chart styling */

.jOrgChart {
    margin: 10px;
    padding: 20px;
}


/* Custom node styling */

.jOrgChart .node {
    font-size: 14px;
    background-color: #35363B;
    border-radius: 8px;
    border: 5px solid white;
    color: #F38630;
    -moz-border-radius: 8px;
}

.node p {
    font-family: tahoma;
    font-size: 10px;
    line-height: 11px;
    padding: 2px;
}